  <ul class="padded8 dp-flex mb0" style="margin-left: auto;  margin-right:auto ; align-items: stretch; justify-content: space-between;width:90%">
    <li class="dpb text-center">
        <a ng-class="{ 'bbb-turquoise':venuesCtrl.isAnyCategorySelected() }" title="Clear filter" 
            href="" 
            class="fs110 color-black p5 pl0 pr0 bbb-turquoise">
          <b>All</b>
        </a>
      <div class="clearfix"></div>
    </li>
    <li ng-repeat="category in venuesCtrl.filters.categories" class="dpb text-center">
        <a href="" 
           class="fs110 color-black p5 pl0 pr0 bbb-gray-on-hover">
          <b><{ category.name }></b>
        </a>
      <div class="clearfix"></div>
    </li>
  </ul>
