/*@import url(//fonts.googleapis.com/css?family=Lato:100,300,400,700,900,100italic,300italic,400italic,700italic,900italic);

@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,700,300,600,800,400);
*/

@font-face {
  font-family: 'Lato';
  font-weight: 100;
  font-style: normal;
  src: url('https://s3-ap-southeast-1.amazonaws.com/mazkarafonts/fonts/lato/Lato-100/Lato-100.eot');
  src: url('https://s3-ap-southeast-1.amazonaws.com/mazkarafonts/fonts/lato/Lato-100/Lato-100.eot?#iefix') format('embedded-opentype'),
       local('Lato Hairline'),
       local('Lato-100'),
       url('https://s3-ap-southeast-1.amazonaws.com/mazkarafonts/fonts/lato/Lato-100/Lato-100.woff2') format('woff2'),
       url('https://s3-ap-southeast-1.amazonaws.com/mazkarafonts/fonts/lato/Lato-100/Lato-100.woff') format('woff'),
       url('https://s3-ap-southeast-1.amazonaws.com/mazkarafonts/fonts/lato/Lato-100/Lato-100.ttf') format('truetype'),
       url('https://s3-ap-southeast-1.amazonaws.com/mazkarafonts/fonts/lato/Lato-100/Lato-100.svg#Lato') format('svg');
}

@font-face {
  font-family: 'Lato';
  font-weight: 300;
  font-style: normal;
  src: url('https://s3-ap-southeast-1.amazonaws.com/mazkarafonts/fonts/lato/Lato-300/Lato-300.eot');
  src: url('https://s3-ap-southeast-1.amazonaws.com/mazkarafonts/fonts/lato/Lato-300/Lato-300.eot?#iefix') format('embedded-opentype'),
       local('Lato Light'),
       local('Lato-300'),
       url('https://s3-ap-southeast-1.amazonaws.com/mazkarafonts/fonts/lato/Lato-300/Lato-300.woff2') format('woff2'),
       url('https://s3-ap-southeast-1.amazonaws.com/mazkarafonts/fonts/lato/Lato-300/Lato-300.woff') format('woff'),
       url('https://s3-ap-southeast-1.amazonaws.com/mazkarafonts/fonts/lato/Lato-300/Lato-300.ttf') format('truetype'),
       url('https://s3-ap-southeast-1.amazonaws.com/mazkarafonts/fonts/lato/Lato-300/Lato-300.svg#Lato') format('svg');
}

@font-face {
  font-family: 'Lato';
  font-weight: 400;
  font-style: normal;
  src: url('https://s3-ap-southeast-1.amazonaws.com/mazkarafonts/fonts/lato/Lato-regular/Lato-regular.eot');
  src: url('https://s3-ap-southeast-1.amazonaws.com/mazkarafonts/fonts/lato/Lato-regular/Lato-regular.eot?#iefix') format('embedded-opentype'),
       local('Lato Regular'),
       local('Lato-regular'),
       url('https://s3-ap-southeast-1.amazonaws.com/mazkarafonts/fonts/lato/Lato-regular/Lato-regular.woff2') format('woff2'),
       url('https://s3-ap-southeast-1.amazonaws.com/mazkarafonts/fonts/lato/Lato-regular/Lato-regular.woff') format('woff'),
       url('https://s3-ap-southeast-1.amazonaws.com/mazkarafonts/fonts/lato/Lato-regular/Lato-regular.ttf') format('truetype'),
       url('https://s3-ap-southeast-1.amazonaws.com/mazkarafonts/fonts/lato/Lato-regular/Lato-regular.svg#Lato') format('svg');
}

@font-face {
  font-family: 'Lato';
  font-weight: 700;
  font-style: normal;
  src: url('https://s3-ap-southeast-1.amazonaws.com/mazkarafonts/fonts/lato/Lato-700/Lato-700.eot');
  src: url('https://s3-ap-southeast-1.amazonaws.com/mazkarafonts/fonts/lato/Lato-700/Lato-700.eot?#iefix') format('embedded-opentype'),
       local('Lato Bold'),
       local('Lato-700'),
       url('https://s3-ap-southeast-1.amazonaws.com/mazkarafonts/fonts/lato/Lato-700/Lato-700.woff2') format('woff2'),
       url('https://s3-ap-southeast-1.amazonaws.com/mazkarafonts/fonts/lato/Lato-700/Lato-700.woff') format('woff'),
       url('https://s3-ap-southeast-1.amazonaws.com/mazkarafonts/fonts/lato/Lato-700/Lato-700.ttf') format('truetype'),
       url('https://s3-ap-southeast-1.amazonaws.com/mazkarafonts/fonts/lato/Lato-700/Lato-700.svg#Lato') format('svg');
}

@font-face {
  font-family: 'Lato';
  font-weight: 900;
  font-style: normal;
  src: url('https://s3-ap-southeast-1.amazonaws.com/mazkarafonts/fonts/lato/Lato-900/Lato-900.eot');
  src: url('https://s3-ap-southeast-1.amazonaws.com/mazkarafonts/fonts/lato/Lato-900/Lato-900.eot?#iefix') format('embedded-opentype'),
       local('Lato Black'),
       local('Lato-900'),
       url('https://s3-ap-southeast-1.amazonaws.com/mazkarafonts/fonts/lato/Lato-900/Lato-900.woff2') format('woff2'),
       url('https://s3-ap-southeast-1.amazonaws.com/mazkarafonts/fonts/lato/Lato-900/Lato-900.woff') format('woff'),
       url('https://s3-ap-southeast-1.amazonaws.com/mazkarafonts/fonts/lato/Lato-900/Lato-900.ttf') format('truetype'),
       url('https://s3-ap-southeast-1.amazonaws.com/mazkarafonts/fonts/lato/Lato-900/Lato-900.svg#Lato') format('svg');
}

@font-face {
  font-family: 'Lato';
  font-weight: 100;
  font-style: italic;
  src: url('https://s3-ap-southeast-1.amazonaws.com/mazkarafonts/fonts/lato/Lato-100italic/Lato-100italic.eot');
  src: url('https://s3-ap-southeast-1.amazonaws.com/mazkarafonts/fonts/lato/Lato-100italic/Lato-100italic.eot?#iefix') format('embedded-opentype'),
       local('Lato Hairline Italic'),
       local('Lato-100italic'),
       url('https://s3-ap-southeast-1.amazonaws.com/mazkarafonts/fonts/lato/Lato-100italic/Lato-100italic.woff2') format('woff2'),
       url('https://s3-ap-southeast-1.amazonaws.com/mazkarafonts/fonts/lato/Lato-100italic/Lato-100italic.woff') format('woff'),
       url('https://s3-ap-southeast-1.amazonaws.com/mazkarafonts/fonts/lato/Lato-100italic/Lato-100italic.ttf') format('truetype'),
       url('https://s3-ap-southeast-1.amazonaws.com/mazkarafonts/fonts/lato/Lato-100italic/Lato-100italic.svg#Lato') format('svg');
}

@font-face {
  font-family: 'Lato';
  font-weight: 300;
  font-style: italic;
  src: url('https://s3-ap-southeast-1.amazonaws.com/mazkarafonts/fonts/lato/Lato-300italic/Lato-300italic.eot');
  src: url('https://s3-ap-southeast-1.amazonaws.com/mazkarafonts/fonts/lato/Lato-300italic/Lato-300italic.eot?#iefix') format('embedded-opentype'),
       local('Lato Light Italic'),
       local('Lato-300italic'),
       url('https://s3-ap-southeast-1.amazonaws.com/mazkarafonts/fonts/lato/Lato-300italic/Lato-300italic.woff2') format('woff2'),
       url('https://s3-ap-southeast-1.amazonaws.com/mazkarafonts/fonts/lato/Lato-300italic/Lato-300italic.woff') format('woff'),
       url('https://s3-ap-southeast-1.amazonaws.com/mazkarafonts/fonts/lato/Lato-300italic/Lato-300italic.ttf') format('truetype'),
       url('https://s3-ap-southeast-1.amazonaws.com/mazkarafonts/fonts/lato/Lato-300italic/Lato-300italic.svg#Lato') format('svg');
}

@font-face {
  font-family: 'Lato';
  font-weight: 400;
  font-style: italic;
  src: url('https://s3-ap-southeast-1.amazonaws.com/mazkarafonts/fonts/lato/Lato-italic/Lato-italic.eot');
  src: url('https://s3-ap-southeast-1.amazonaws.com/mazkarafonts/fonts/lato/Lato-italic/Lato-italic.eot?#iefix') format('embedded-opentype'),
       local('Lato Italic'),
       local('Lato-italic'),
       url('https://s3-ap-southeast-1.amazonaws.com/mazkarafonts/fonts/lato/Lato-italic/Lato-italic.woff2') format('woff2'),
       url('https://s3-ap-southeast-1.amazonaws.com/mazkarafonts/fonts/lato/Lato-italic/Lato-italic.woff') format('woff'),
       url('https://s3-ap-southeast-1.amazonaws.com/mazkarafonts/fonts/lato/Lato-italic/Lato-italic.ttf') format('truetype'),
       url('https://s3-ap-southeast-1.amazonaws.com/mazkarafonts/fonts/lato/Lato-italic/Lato-italic.svg#Lato') format('svg');
}

@font-face {
  font-family: 'Lato';
  font-weight: 700;
  font-style: italic;
  src: url('https://s3-ap-southeast-1.amazonaws.com/mazkarafonts/fonts/lato/Lato-700italic/Lato-700italic.eot');
  src: url('https://s3-ap-southeast-1.amazonaws.com/mazkarafonts/fonts/lato/Lato-700italic/Lato-700italic.eot?#iefix') format('embedded-opentype'),
       local('Lato Bold Italic'),
       local('Lato-700italic'),
       url('https://s3-ap-southeast-1.amazonaws.com/mazkarafonts/fonts/lato/Lato-700italic/Lato-700italic.woff2') format('woff2'),
       url('https://s3-ap-southeast-1.amazonaws.com/mazkarafonts/fonts/lato/Lato-700italic/Lato-700italic.woff') format('woff'),
       url('https://s3-ap-southeast-1.amazonaws.com/mazkarafonts/fonts/lato/Lato-700italic/Lato-700italic.ttf') format('truetype'),
       url('https://s3-ap-southeast-1.amazonaws.com/mazkarafonts/fonts/lato/Lato-700italic/Lato-700italic.svg#Lato') format('svg');
}

@font-face {
  font-family: 'Lato';
  font-weight: 900;
  font-style: italic;
  src: url('https://s3-ap-southeast-1.amazonaws.com/mazkarafonts/fonts/lato/Lato-900italic/Lato-900italic.eot');
  src: url('https://s3-ap-southeast-1.amazonaws.com/mazkarafonts/fonts/lato/Lato-900italic/Lato-900italic.eot?#iefix') format('embedded-opentype'),
       local('Lato Black Italic'),
       local('Lato-900italic'),
       url('https://s3-ap-southeast-1.amazonaws.com/mazkarafonts/fonts/lato/Lato-900italic/Lato-900italic.woff2') format('woff2'),
       url('https://s3-ap-southeast-1.amazonaws.com/mazkarafonts/fonts/lato/Lato-900italic/Lato-900italic.woff') format('woff'),
       url('https://s3-ap-southeast-1.amazonaws.com/mazkarafonts/fonts/lato/Lato-900italic/Lato-900italic.ttf') format('truetype'),
       url('https://s3-ap-southeast-1.amazonaws.com/mazkarafonts/fonts/lato/Lato-900italic/Lato-900italic.svg#Lato') format('svg');
}




/* #### Generated By: http://www.cufonfonts.com #### */

@font-face {
font-family: 'Avenir LT Std 95 Black';
font-style: normal;
font-weight: normal;
src: local('Avenir LT Std 95 Black'), url('https://s3-ap-southeast-1.amazonaws.com/mazkarafonts/fonts/avenir/AvenirLTStd-Black.woff') format('woff');
}


@font-face {
font-family: 'Avenir LT Std 45 Book';
font-style: normal;
font-weight: normal;
src: local('Avenir LT Std 45 Book'), url('https://s3-ap-southeast-1.amazonaws.com/mazkarafonts/fonts/avenir/AvenirLTStd-Book.woff') format('woff');
}


@font-face {
font-family: 'Avenir LT Std 85 Heavy';
font-style: normal;
font-weight: normal;
src: local('Avenir LT Std 85 Heavy'), url('https://s3-ap-southeast-1.amazonaws.com/mazkarafonts/fonts/avenir/AvenirLTStd-Heavy.woff') format('woff');
}


@font-face {
font-family: 'Avenir LT Std 35 Light';
font-style: normal;
font-weight: normal;
src: local('Avenir LT Std 35 Light'), url('https://s3-ap-southeast-1.amazonaws.com/mazkarafonts/fonts/avenir/AvenirLTStd-Light.woff') format('woff');
}


@font-face {
font-family: 'Avenir LT Std 65 Medium';
font-style: normal;
font-weight: normal;
src: local('Avenir LT Std 65 Medium'), url('https://s3-ap-southeast-1.amazonaws.com/mazkarafonts/fonts/avenir/AvenirLTStd-Medium.woff') format('woff');
}


@font-face {
font-family: 'Avenir LT Std 55 Roman';
font-style: normal;
font-weight: normal;
src: local('Avenir LT Std 55 Roman'), url('https://s3-ap-southeast-1.amazonaws.com/mazkarafonts/fonts/avenir/AvenirLTStd-Roman.woff') format('woff');
}


@font-face {
font-family: 'Avenir LT Std 95 Black Oblique';
font-style: normal;
font-weight: normal;
src: local('Avenir LT Std 95 Black Oblique'), url('https://s3-ap-southeast-1.amazonaws.com/mazkarafonts/fonts/avenir/AvenirLTStd-BlackOblique.woff') format('woff');
}


@font-face {
font-family: 'Avenir LT Std 45 Book Oblique';
font-style: normal;
font-weight: normal;
src: local('Avenir LT Std 45 Book Oblique'), url('https://s3-ap-southeast-1.amazonaws.com/mazkarafonts/fonts/avenir/AvenirLTStd-BookOblique.woff') format('woff');
}


@font-face {
font-family: 'Avenir LT Std 85 Heavy Oblique';
font-style: normal;
font-weight: normal;
src: local('Avenir LT Std 85 Heavy Oblique'), url('https://s3-ap-southeast-1.amazonaws.com/mazkarafonts/fonts/avenir/AvenirLTStd-HeavyOblique.woff') format('woff');
}


@font-face {
font-family: 'Avenir LT Std 35 Light Oblique';
font-style: normal;
font-weight: normal;
src: local('Avenir LT Std 35 Light Oblique'), url('https://s3-ap-southeast-1.amazonaws.com/mazkarafonts/fonts/avenir/AvenirLTStd-LightOblique.woff') format('woff');
}


@font-face {
font-family: 'Avenir LT Std 65 Medium Oblique';
font-style: normal;
font-weight: normal;
src: local('Avenir LT Std 65 Medium Oblique'), url('https://s3-ap-southeast-1.amazonaws.com/mazkarafonts/fonts/avenir/AvenirLTStd-MediumOblique.woff') format('woff');
}


@font-face {
font-family: 'Avenir LT Std 55 Oblique';
font-style: normal;
font-weight: normal;
src: local('Avenir LT Std 55 Oblique'), url('https://s3-ap-southeast-1.amazonaws.com/mazkarafonts/fonts/avenir/AvenirLTStd-Oblique.woff') format('woff');
}




/** Generated by FG **/
@font-face {
  font-family: 'Karla-BoldItalic';
  src: url('https://s3-ap-southeast-1.amazonaws.com/mazkarafonts/fonts/karla/karla-bold-italic/Karla-BoldItalic.eot');
  src: local('☺'), url('https://s3-ap-southeast-1.amazonaws.com/mazkarafonts/fonts/karla/karla-bold-italic/Karla-BoldItalic.woff') format('woff'),
                   url('https://s3-ap-southeast-1.amazonaws.com/mazkarafonts/fonts/karla/karla-bold-italic/Karla-BoldItalic.ttf') format('truetype'), 
                   url('https://s3-ap-southeast-1.amazonaws.com/mazkarafonts/fonts/karla/karla-bold-italic/Karla-BoldItalic.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

/** Generated by FG **/
@font-face {
  font-family: 'Karla-Bold';
  src: url('https://s3-ap-southeast-1.amazonaws.com/mazkarafonts/fonts/karla/karla-bold/Karla-Bold.eot');
  src: local('☺'), url('https://s3-ap-southeast-1.amazonaws.com/mazkarafonts/fonts/karla/karla-bold/Karla-Bold.woff') format('woff'), 
                   url('https://s3-ap-southeast-1.amazonaws.com/mazkarafonts/fonts/karla/karla-bold/Karla-Bold.ttf') format('truetype'), 
                   url('https://s3-ap-southeast-1.amazonaws.com/mazkarafonts/fonts/karla/karla-bold/Karla-Bold.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

/** Generated by FG **/
@font-face {
  font-family: 'Karla-Italic';
  src: url('https://s3-ap-southeast-1.amazonaws.com/mazkarafonts/fonts/karla/karla-italic/Karla-Italic.eot');
  src: local('☺'), url('https://s3-ap-southeast-1.amazonaws.com/mazkarafonts/fonts/karla/karla-italic/Karla-Italic.woff') format('woff'), 
                   url('https://s3-ap-southeast-1.amazonaws.com/mazkarafonts/fonts/karla/karla-italic/Karla-Italic.ttf') format('truetype'), 
                   url('https://s3-ap-southeast-1.amazonaws.com/mazkarafonts/fonts/karla/karla-italic/Karla-Italic.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

/** Generated by FG **/
@font-face {
  font-family: 'Karla-Regular';
  src: url('https://s3-ap-southeast-1.amazonaws.com/mazkarafonts/fonts/karla/karla-regular/Karla-Regular.eot');
  src: local('☺'),  url('https://s3-ap-southeast-1.amazonaws.com/mazkarafonts/fonts/karla/karla-regular/Karla-Regular.woff') format('woff'), 
                    url('https://s3-ap-southeast-1.amazonaws.com/mazkarafonts/fonts/karla/karla-regular/Karla-Regular.ttf') format('truetype'), 
                    url('https://s3-ap-southeast-1.amazonaws.com/mazkarafonts/fonts/karla/karla-regular/Karla-Regular.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

/** Generated by FG **/
@font-face {
  font-family: 'VarelaRound-Regular';
  src: url('https://s3-ap-southeast-1.amazonaws.com/mazkarafonts/fonts/varella/varella-round/VarelaRound-Regular.eot');
  src: local('☺'),  url('https://s3-ap-southeast-1.amazonaws.com/mazkarafonts/fonts/varella/varella-round/VarelaRound-Regular.woff') format('woff'), 
                    url('https://s3-ap-southeast-1.amazonaws.com/mazkarafonts/fonts/varella/varella-round/VarelaRound-Regular.ttf') format('truetype'), 
                    url('https://s3-ap-southeast-1.amazonaws.com/mazkarafonts/fonts/varella/varella-round/VarelaRound-Regular.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'Rubik';
  src: url('https://s3-ap-southeast-1.amazonaws.com/mazkarafonts/fonts/rubik/Rubik-Regular.eot');
  src: url('https://s3-ap-southeast-1.amazonaws.com/mazkarafonts/fonts/rubik/Rubik-Regular.eot?#iefix') format('embedded-opentype'),
    url('https://s3-ap-southeast-1.amazonaws.com/mazkarafonts/fonts/rubik/Rubik-Regular.woff2') format('woff2'),
    url('https://s3-ap-southeast-1.amazonaws.com/mazkarafonts/fonts/rubik/Rubik-Regular.woff') format('woff'),
    url('https://s3-ap-southeast-1.amazonaws.com/mazkarafonts/fonts/rubik/Rubik-Regular.ttf') format('truetype'),
    url('https://s3-ap-southeast-1.amazonaws.com/mazkarafonts/fonts/rubik/Rubik-Regular.svg#Rubik-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Rubik-Light';
  src: url('https://s3-ap-southeast-1.amazonaws.com/mazkarafonts/fonts/rubik/Rubik-Light.eot');
  src: url('https://s3-ap-southeast-1.amazonaws.com/mazkarafonts/fonts/rubik/Rubik-Light.eot?#iefix') format('embedded-opentype'),
    url('https://s3-ap-southeast-1.amazonaws.com/mazkarafonts/fonts/rubik/Rubik-Light.woff2') format('woff2'),
    url('https://s3-ap-southeast-1.amazonaws.com/mazkarafonts/fonts/rubik/Rubik-Light.woff') format('woff'),
    url('https://s3-ap-southeast-1.amazonaws.com/mazkarafonts/fonts/rubik/Rubik-Light.ttf') format('truetype'),
    url('https://s3-ap-southeast-1.amazonaws.com/mazkarafonts/fonts/rubik/Rubik-Light.svg#Rubik-Light') format('svg');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Rubik-Black';
  src: url('https://s3-ap-southeast-1.amazonaws.com/mazkarafonts/fonts/rubik/Rubik-Black.eot');
  src: url('https://s3-ap-southeast-1.amazonaws.com/mazkarafonts/fonts/rubik/Rubik-Black.eot?#iefix') format('embedded-opentype'),
    url('https://s3-ap-southeast-1.amazonaws.com/mazkarafonts/fonts/rubik/Rubik-Black.woff2') format('woff2'),
    url('https://s3-ap-southeast-1.amazonaws.com/mazkarafonts/fonts/rubik/Rubik-Black.woff') format('woff'),
    url('https://s3-ap-southeast-1.amazonaws.com/mazkarafonts/fonts/rubik/Rubik-Black.ttf') format('truetype'),
    url('https://s3-ap-southeast-1.amazonaws.com/mazkarafonts/fonts/rubik/Rubik-Black.svg#Rubik-Black') format('svg');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Rubik-Medium';
  src: url('https://s3-ap-southeast-1.amazonaws.com/mazkarafonts/fonts/rubik/Rubik-Medium.eot');
  src: url('https://s3-ap-southeast-1.amazonaws.com/mazkarafonts/fonts/rubik/Rubik-Medium.eot?#iefix') format('embedded-opentype'),
    url('https://s3-ap-southeast-1.amazonaws.com/mazkarafonts/fonts/rubik/Rubik-Medium.woff2') format('woff2'),
    url('https://s3-ap-southeast-1.amazonaws.com/mazkarafonts/fonts/rubik/Rubik-Medium.woff') format('woff'),
    url('https://s3-ap-southeast-1.amazonaws.com/mazkarafonts/fonts/rubik/Rubik-Medium.ttf') format('truetype'),
    url('https://s3-ap-southeast-1.amazonaws.com/mazkarafonts/fonts/rubik/Rubik-Medium.svg#Rubik-Medium') format('svg');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Rubik-BoldItalic';
  src: url('https://s3-ap-southeast-1.amazonaws.com/mazkarafonts/fonts/rubik/Rubik-BoldItalic.eot');
  src: url('https://s3-ap-southeast-1.amazonaws.com/mazkarafonts/fonts/rubik/Rubik-BoldItalic.eot?#iefix') format('embedded-opentype'),
    url('https://s3-ap-southeast-1.amazonaws.com/mazkarafonts/fonts/rubik/Rubik-BoldItalic.woff2') format('woff2'),
    url('https://s3-ap-southeast-1.amazonaws.com/mazkarafonts/fonts/rubik/Rubik-BoldItalic.woff') format('woff'),
    url('https://s3-ap-southeast-1.amazonaws.com/mazkarafonts/fonts/rubik/Rubik-BoldItalic.ttf') format('truetype'),
    url('https://s3-ap-southeast-1.amazonaws.com/mazkarafonts/fonts/rubik/Rubik-BoldItalic.svg#Rubik-BoldItalic') format('svg');
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'Rubik-Italic';
  src: url('https://s3-ap-southeast-1.amazonaws.com/mazkarafonts/fonts/rubik/Rubik-Italic.eot');
  src: url('https://s3-ap-southeast-1.amazonaws.com/mazkarafonts/fonts/rubik/Rubik-Italic.eot?#iefix') format('embedded-opentype'),
    url('https://s3-ap-southeast-1.amazonaws.com/mazkarafonts/fonts/rubik/Rubik-Italic.woff2') format('woff2'),
    url('https://s3-ap-southeast-1.amazonaws.com/mazkarafonts/fonts/rubik/Rubik-Italic.woff') format('woff'),
    url('https://s3-ap-southeast-1.amazonaws.com/mazkarafonts/fonts/rubik/Rubik-Italic.ttf') format('truetype'),
    url('https://s3-ap-southeast-1.amazonaws.com/mazkarafonts/fonts/rubik/Rubik-Italic.svg#Rubik-Italic') format('svg');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Rubik-LightItalic';
  src: url('https://s3-ap-southeast-1.amazonaws.com/mazkarafonts/fonts/rubik/Rubik-LightItalic.eot');
  src: url('https://s3-ap-southeast-1.amazonaws.com/mazkarafonts/fonts/rubik/Rubik-LightItalic.eot?#iefix') format('embedded-opentype'),
    url('https://s3-ap-southeast-1.amazonaws.com/mazkarafonts/fonts/rubik/Rubik-LightItalic.woff2') format('woff2'),
    url('https://s3-ap-southeast-1.amazonaws.com/mazkarafonts/fonts/rubik/Rubik-LightItalic.woff') format('woff'),
    url('https://s3-ap-southeast-1.amazonaws.com/mazkarafonts/fonts/rubik/Rubik-LightItalic.ttf') format('truetype'),
    url('https://s3-ap-southeast-1.amazonaws.com/mazkarafonts/fonts/rubik/Rubik-LightItalic.svg#Rubik-LightItalic') format('svg');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'Rubik-MediumItalic';
  src: url('https://s3-ap-southeast-1.amazonaws.com/mazkarafonts/fonts/rubik/Rubik-MediumItalic.eot');
  src: url('https://s3-ap-southeast-1.amazonaws.com/mazkarafonts/fonts/rubik/Rubik-MediumItalic.eot?#iefix') format('embedded-opentype'),
    url('https://s3-ap-southeast-1.amazonaws.com/mazkarafonts/fonts/rubik/Rubik-MediumItalic.woff2') format('woff2'),
    url('https://s3-ap-southeast-1.amazonaws.com/mazkarafonts/fonts/rubik/Rubik-MediumItalic.woff') format('woff'),
    url('https://s3-ap-southeast-1.amazonaws.com/mazkarafonts/fonts/rubik/Rubik-MediumItalic.ttf') format('truetype'),
    url('https://s3-ap-southeast-1.amazonaws.com/mazkarafonts/fonts/rubik/Rubik-MediumItalic.svg#Rubik-MediumItalic') format('svg');
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: 'Rubik-Bold';
  src: url('https://s3-ap-southeast-1.amazonaws.com/mazkarafonts/fonts/rubik/Rubik-Bold.eot');
  src: url('https://s3-ap-southeast-1.amazonaws.com/mazkarafonts/fonts/rubik/Rubik-Bold.eot?#iefix') format('embedded-opentype'),
    url('https://s3-ap-southeast-1.amazonaws.com/mazkarafonts/fonts/rubik/Rubik-Bold.woff2') format('woff2'),
    url('https://s3-ap-southeast-1.amazonaws.com/mazkarafonts/fonts/rubik/Rubik-Bold.woff') format('woff'),
    url('https://s3-ap-southeast-1.amazonaws.com/mazkarafonts/fonts/rubik/Rubik-Bold.ttf') format('truetype'),
    url('https://s3-ap-southeast-1.amazonaws.com/mazkarafonts/fonts/rubik/Rubik-Bold.svg#Rubik-Bold') format('svg');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Rubik-BlackItalic';
  src: url('https://s3-ap-southeast-1.amazonaws.com/mazkarafonts/fonts/rubik/Rubik-BlackItalic.eot');
  src: url('https://s3-ap-southeast-1.amazonaws.com/mazkarafonts/fonts/rubik/Rubik-BlackItalic.eot?#iefix') format('embedded-opentype'),
    url('https://s3-ap-southeast-1.amazonaws.com/mazkarafonts/fonts/rubik/Rubik-BlackItalic.woff2') format('woff2'),
    url('https://s3-ap-southeast-1.amazonaws.com/mazkarafonts/fonts/rubik/Rubik-BlackItalic.woff') format('woff'),
    url('https://s3-ap-southeast-1.amazonaws.com/mazkarafonts/fonts/rubik/Rubik-BlackItalic.ttf') format('truetype'),
    url('https://s3-ap-southeast-1.amazonaws.com/mazkarafonts/fonts/rubik/Rubik-BlackItalic.svg#Rubik-BlackItalic') format('svg');
  font-weight: 900;
  font-style: italic;
}
