@import url(//fonts.googleapis.com/css?family=Open+Sans:400,400italic,600,600italic,800,800italic);
@import url(//fonts.googleapis.com/css?family=Oswald:400,300,700);

/*
@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,700,300,600,800,400);
*/