@font-face {
    font-family: 'highlights';
    src:url('https://s3-ap-southeast-1.amazonaws.com/mazkarafonts/fonts/highlights-v2/highlights.eot?wu4wnz');
    src:url('https://s3-ap-southeast-1.amazonaws.com/mazkarafonts/fonts/highlights-v2/highlights.eot?wu4wnz#iefix') format('embedded-opentype'),
        url('https://s3-ap-southeast-1.amazonaws.com/mazkarafonts/fonts/highlights-v2/highlights.ttf?wu4wnz') format('truetype'),
        url('https://s3-ap-southeast-1.amazonaws.com/mazkarafonts/fonts/highlights-v2/highlights.woff?wu4wnz') format('woff'),
        url('https://s3-ap-southeast-1.amazonaws.com/mazkarafonts/fonts/highlights-v2/highlights.svg?wu4wnz#highlights') format('svg');

    font-weight: normal;
    font-style: normal;
}

[class^="highlights-"], [class*=" highlights-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'highlights' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}


.highlights-hair-services:before {
    content: "\e934";
}
.highlights-nail-services:before {
    content: "\e935";
}
.highlights-nail-polish-1:before {
    content: "\e914";
}
.highlights-nail-polish-2:before {
    content: "\e92f";
}





.highlights-wi-fi:before {
    content: "\f034";
}

.highlights-air-conditioned:before,
.highlights-ac:before {
    content: "\e900";
}
.highlights-credit-card:before {
    content: "\e901";
}
.highlights-deal:before {
    content: "\e902";
}
.highlights-economical:before {
    content: "\e903";
}
.highlights-home-services:before {
    content: "\e904";
}
.highlights-kids-services:before {
    content: "\e905";
}
.highlights-luxury:before {
    content: "\e906";
}
.highlights-mens-only:before {
    content: "\e907";
}
.highlights-premium:before {
    content: "\e908";
}
.highlights-tv:before {
    content: "\e909";
}
.highlights-unisex:before {
    content: "\e90a";
}
.highlights-walk-ins-allowed:before {
    content: "\e90b";
}
.highlights-ladies-only:before {
    content: "\e90c";
}

.highlights-wi-fi:before {
    content: "\f034";
}

.highlights-4-or-5-star-luxury-hotel:before,
.highlights-office:before {
    content: "\e90e";
}
.highlights-clock:before {
    content: "\e90f";
}
.highlights-calendar:before {
    content: "\e910";
}
.highlights-tv2:before {
    content: "\e90d";
}
.highlights-spoon-knife:before {
    content: "\e911";
}
.highlights-cloud:before {
    content: "\e912";
}
.highlights-sun:before {
    content: "\e913";
}
.highlights-ac:before {
    content: "\e900";
}
.highlights-credit-cards:before {
    content: "\e901";
}
.highlights-deal:before {
    content: "\e902";
}
.highlights-economical:before {
    content: "\e903";
}
.highlights-home-services:before {
    content: "\e904";
}
.highlights-kids-services:before {
    content: "\e905";
}
.highlights-luxury:before {
    content: "\e906";
}
.highlights-mens:before {
    content: "\e907";
}
.highlights-premium:before {
    content: "\e908";
}
.highlights-tv:before {
    content: "\e909";
}
.highlights-unisex:before {
    content: "\e90a";
}
.highlights-walk-in:before {
    content: "\e90b";
}
.highlights-womens:before {
    content: "\e90c";
}

