body {
    padding: 0;
    margin: 0;
    font-family: 'Open Sans', 'Trebuchet MS', arial, sans-serif;
    font-size: 12px
}

p {
    line-height: 1.5em
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin-top: 0;
    margin-bottom: .75em;
    font-family: 'Open Sans', 'Trebuchet MS', 'Open Sans', arial, sans-serif
}

h1,
.h1 {
  font-size: 30px;
}
h2,
.h2 {
  font-size: 24px;
}
h3,
.h3 {
  font-size: 20px;
}
h4,
.h4 {
  font-size: 16px;
}
h5,
.h5 {
  font-size: 14px;
}
h6,
.h6 {
  font-size: 12px;
}


.semibold,
label {
    font-weight: 600
}

.text-primary {
    color: #d74b4b
}

a.text-primary:hover {
    color: #c42b2b
}

.text-secondary {
    color: #6685a4
}

a.text-secondary:hover {
    color: #516c87
}

.text-tertiary {
    color: #afafaf
}

a.text-tertiary:hover {
    color: #969696
}

.text-success {
    color: #5cb85c
}

a.text-success:hover {
    color: #449d44
}

.text-warning {
    color: #f0ad4e
}

a.text-warning:hover {
    color: #ec971f
}

.text-danger {
    color: #d9534f
}

a.text-danger:hover {
    color: #c9302c
}

.text-info {
    color: #5bc0de
}

a.text-info:hover {
    color: #31b0d5
}

.text-sm {
    font-size: 11px
}

.text-md {
    font-size: 12px
}

.text-lg {
    font-size: 16px
}

.text-xl {
    font-size: 22px
}

.btn-facebook,
.btn-primary,
.btn-secondary,
.btn-tertiary,
.btn-twitter {
    text-shadow: 0 -1px 0 rgba(0, 0, 0, .2);
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, .15), 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, .15), 0 1px 1px rgba(0, 0, 0, .075)
}

.btn-facebook.active,
.btn-facebook:active,
.btn-primary.active,
.btn-primary:active,
.btn-secondary.active,
.btn-secondary:active,
.btn-tertiary.active,
.btn-tertiary:active,
.btn-twitter.active,
.btn-twitter:active {
    -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
    box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125)
}

.btn-primary {
    color: #fff;
    background-color: #d74b4b;
    border-color: #cc2d2d
}

.btn-primary.active,
.btn-primary.focus,
.btn-primary:active,
.btn-primary:focus,
.btn-primary:hover,
.open>.dropdown-toggle.btn-primary {
    color: #fff;
    background-color: #c42b2b;
    border-color: #9a2222
}

.btn-primary.active,
.btn-primary:active,
.open>.dropdown-toggle.btn-primary {
    background-image: none
}

.btn-primary.disabled,
.btn-primary.disabled.active,
.btn-primary.disabled.focus,
.btn-primary.disabled:active,
.btn-primary.disabled:focus,
.btn-primary.disabled:hover,
.btn-primary[disabled],
.btn-primary[disabled].active,
.btn-primary[disabled].focus,
.btn-primary[disabled]:active,
.btn-primary[disabled]:focus,
.btn-primary[disabled]:hover,
fieldset[disabled] .btn-primary,
fieldset[disabled] .btn-primary.active,
fieldset[disabled] .btn-primary.focus,
fieldset[disabled] .btn-primary:active,
fieldset[disabled] .btn-primary:focus,
fieldset[disabled] .btn-primary:hover {
    background-color: #d74b4b;
    border-color: #cc2d2d
}

.btn-primary .badge {
    color: #d74b4b;
    background-color: #fff
}

.btn-secondary {
    color: #fff;
    background-color: #6685a4;
    border-color: #54718d
}

.btn-secondary.active,
.btn-secondary.focus,
.btn-secondary:active,
.btn-secondary:focus,
.btn-secondary:hover,
.open>.dropdown-toggle.btn-secondary {
    color: #fff;
    background-color: #516c87;
    border-color: #3d5267
}

.btn-secondary.active,
.btn-secondary:active,
.open>.dropdown-toggle.btn-secondary {
    background-image: none
}

.btn-secondary.disabled,
.btn-secondary.disabled.active,
.btn-secondary.disabled.focus,
.btn-secondary.disabled:active,
.btn-secondary.disabled:focus,
.btn-secondary.disabled:hover,
.btn-secondary[disabled],
.btn-secondary[disabled].active,
.btn-secondary[disabled].focus,
.btn-secondary[disabled]:active,
.btn-secondary[disabled]:focus,
.btn-secondary[disabled]:hover,
fieldset[disabled] .btn-secondary,
fieldset[disabled] .btn-secondary.active,
fieldset[disabled] .btn-secondary.focus,
fieldset[disabled] .btn-secondary:active,
fieldset[disabled] .btn-secondary:focus,
fieldset[disabled] .btn-secondary:hover {
    background-color: #6685a4;
    border-color: #54718d
}

.btn-secondary .badge {
    color: #6685a4;
    background-color: #fff
}

.btn-tertiary {
    color: #fff;
    background-color: #bcbcbc;
    border-color: #a8a8a8
}

.btn-tertiary.active,
.btn-tertiary.focus,
.btn-tertiary:active,
.btn-tertiary:focus,
.btn-tertiary:hover,
.open>.dropdown-toggle.btn-tertiary {
    color: #fff;
    background-color: #a3a3a3;
    border-color: #898989
}

.btn-tertiary.active,
.btn-tertiary:active,
.open>.dropdown-toggle.btn-tertiary {
    background-image: none
}

.btn-tertiary.disabled,
.btn-tertiary.disabled.active,
.btn-tertiary.disabled.focus,
.btn-tertiary.disabled:active,
.btn-tertiary.disabled:focus,
.btn-tertiary.disabled:hover,
.btn-tertiary[disabled],
.btn-tertiary[disabled].active,
.btn-tertiary[disabled].focus,
.btn-tertiary[disabled]:active,
.btn-tertiary[disabled]:focus,
.btn-tertiary[disabled]:hover,
fieldset[disabled] .btn-tertiary,
fieldset[disabled] .btn-tertiary.active,
fieldset[disabled] .btn-tertiary.focus,
fieldset[disabled] .btn-tertiary:active,
fieldset[disabled] .btn-tertiary:focus,
fieldset[disabled] .btn-tertiary:hover {
    background-color: #bcbcbc;
    border-color: #a8a8a8
}

.btn-tertiary .badge {
    color: #bcbcbc;
    background-color: #fff
}

.btn-inverse {
    color: #fff;
    background-color: #354b5e;
    border-color: #263644
}

.btn-inverse.active,
.btn-inverse.focus,
.btn-inverse:active,
.btn-inverse:focus,
.btn-inverse:hover,
.open>.dropdown-toggle.btn-inverse {
    color: #fff;
    background-color: #23313d;
    border-color: #10171d
}

.btn-inverse.active,
.btn-inverse:active,
.open>.dropdown-toggle.btn-inverse {
    background-image: none
}

.btn-inverse.disabled,
.btn-inverse.disabled.active,
.btn-inverse.disabled.focus,
.btn-inverse.disabled:active,
.btn-inverse.disabled:focus,
.btn-inverse.disabled:hover,
.btn-inverse[disabled],
.btn-inverse[disabled].active,
.btn-inverse[disabled].focus,
.btn-inverse[disabled]:active,
.btn-inverse[disabled]:focus,
.btn-inverse[disabled]:hover,
fieldset[disabled] .btn-inverse,
fieldset[disabled] .btn-inverse.active,
fieldset[disabled] .btn-inverse.focus,
fieldset[disabled] .btn-inverse:active,
fieldset[disabled] .btn-inverse:focus,
fieldset[disabled] .btn-inverse:hover {
    background-color: #354b5e;
    border-color: #263644
}

.btn-inverse .badge {
    color: #354b5e;
    background-color: #fff
}

.btn-facebook {
    color: #fff;
    background-color: #3b5998;
    border-color: #30487b
}

.btn-facebook.active,
.btn-facebook.focus,
.btn-facebook:active,
.btn-facebook:focus,
.btn-facebook:hover,
.open>.dropdown-toggle.btn-facebook {
    color: #fff;
    background-color: #2d4373;
    border-color: #1e2e4f
}

.btn-facebook.active,
.btn-facebook:active,
.open>.dropdown-toggle.btn-facebook {
    background-image: none
}

.btn-facebook.disabled,
.btn-facebook.disabled.active,
.btn-facebook.disabled.focus,
.btn-facebook.disabled:active,
.btn-facebook.disabled:focus,
.btn-facebook.disabled:hover,
.btn-facebook[disabled],
.btn-facebook[disabled].active,
.btn-facebook[disabled].focus,
.btn-facebook[disabled]:active,
.btn-facebook[disabled]:focus,
.btn-facebook[disabled]:hover,
fieldset[disabled] .btn-facebook,
fieldset[disabled] .btn-facebook.active,
fieldset[disabled] .btn-facebook.focus,
fieldset[disabled] .btn-facebook:active,
fieldset[disabled] .btn-facebook:focus,
fieldset[disabled] .btn-facebook:hover {
    background-color: #3b5998;
    border-color: #30487b
}

.btn-facebook .badge {
    color: #3b5998;
    background-color: #fff
}

.btn-twitter {
    color: #fff;
    background-color: #00acee;
    border-color: #008fc5
}

.btn-twitter.active,
.btn-twitter.focus,
.btn-twitter:active,
.btn-twitter:focus,
.btn-twitter:hover,
.open>.dropdown-toggle.btn-twitter {
    color: #fff;
    background-color: #0087bb;
    border-color: #006288
}

.btn-twitter.active,
.btn-twitter:active,
.open>.dropdown-toggle.btn-twitter {
    background-image: none
}

.btn-twitter.disabled,
.btn-twitter.disabled.active,
.btn-twitter.disabled.focus,
.btn-twitter.disabled:active,
.btn-twitter.disabled:focus,
.btn-twitter.disabled:hover,
.btn-twitter[disabled],
.btn-twitter[disabled].active,
.btn-twitter[disabled].focus,
.btn-twitter[disabled]:active,
.btn-twitter[disabled]:focus,
.btn-twitter[disabled]:hover,
fieldset[disabled] .btn-twitter,
fieldset[disabled] .btn-twitter.active,
fieldset[disabled] .btn-twitter.focus,
fieldset[disabled] .btn-twitter:active,
fieldset[disabled] .btn-twitter:focus,
fieldset[disabled] .btn-twitter:hover {
    background-color: #00acee;
    border-color: #008fc5
}

.btn-twitter .badge {
    color: #00acee;
    background-color: #fff
}

.btn-transparent {
    color: #fff;
    background-color: transparent;
    border-color: #fff;
    border-width: 2px
}

.btn-transparent.active,
.btn-transparent.focus,
.btn-transparent:active,
.btn-transparent:focus,
.btn-transparent:hover,
.open>.dropdown-toggle.btn-transparent {
    color: #fff;
    background-color: rgba(0, 0, 0, 0);
    border-color: #e0e0e0
}

.btn-transparent.active,
.btn-transparent:active,
.open>.dropdown-toggle.btn-transparent {
    background-image: none
}

.btn-transparent.disabled,
.btn-transparent.disabled.active,
.btn-transparent.disabled.focus,
.btn-transparent.disabled:active,
.btn-transparent.disabled:focus,
.btn-transparent.disabled:hover,
.btn-transparent[disabled],
.btn-transparent[disabled].active,
.btn-transparent[disabled].focus,
.btn-transparent[disabled]:active,
.btn-transparent[disabled]:focus,
.btn-transparent[disabled]:hover,
fieldset[disabled] .btn-transparent,
fieldset[disabled] .btn-transparent.active,
fieldset[disabled] .btn-transparent.focus,
fieldset[disabled] .btn-transparent:active,
fieldset[disabled] .btn-transparent:focus,
fieldset[disabled] .btn-transparent:hover {
    background-color: transparent;
    border-color: #fff
}

.btn-transparent .badge {
    color: transparent;
    background-color: #fff
}

.btn-transparent:hover {
    background: rgba(0, 0, 0, .1)
}

.btn-jumbo {
    padding: 13px 20px;
    font-size: 22px;
    line-height: 1.33;
    border-radius: 6px
}

.badge {
    font-weight: 600
}

.badge-primary {
    background-color: #d74b4b;
    color: #fff
}

.badge-secondary {
    background-color: #6685a4;
    color: #fff
}

.badge-tertiary {
    background-color: #bcbcbc;
    color: #fff
}

.label {
    font-weight: 600
}

.label-primary {
    background-color: #d74b4b;
    color: #fff
}

.label-secondary {
    background-color: #6685a4;
    color: #fff
}

.label-tertiary {
    background-color: #bcbcbc;
    color: #fff
}

.progress {
    background-color: #f5f5f5
}

.progress-bar-primary {
    background-color: #d74b4b
}

.progress-bar-secondary {
    background-color: #6685a4
}

.progress-bar-tertiary {
    background-color: #bcbcbc
}

.progress-sm {
    height: 12px
}

.progress-lg {
    height: 28px
}

.popover-title {
    font-size: 15px
}

.popover-content {
    font-family: 'Open Sans', 'Trebuchet MS', arial, sans-serif;
    font-size: 13px
}

.alert {
    text-shadow: 1px 1px 1px rgba(0, 0, 0, .2)
}

.alert strong {
    font-weight: 600
}

.alert-success {
    background-color: #5cb85c;
    border-color: #5cb85c;
    color: #fff
}

.alert-success hr {
    border-top-color: #4cae4c
}

.alert-success .alert-link {
    color: #e6e6e6
}

.alert-info {
    background-color: #5bc0de;
    border-color: #5bc0de;
    color: #fff
}

.alert-info hr {
    border-top-color: #46b8da
}

.alert-info .alert-link {
    color: #e6e6e6
}

.alert-warning {
    background-color: #f0ad4e;
    border-color: #f0ad4e;
    color: #fff
}

.alert-warning hr {
    border-top-color: #eea236
}

.alert-warning .alert-link {
    color: #e6e6e6
}

.alert-danger {
    background-color: #d9534f;
    border-color: #d9534f;
    color: #fff
}

.alert-danger hr {
    border-top-color: #d43f3a
}

.alert-danger .alert-link {
    color: #e6e6e6
}

.form-group {
    margin-bottom: 25px
}

.form-control {
    padding-right: 6px;
    padding-left: 6px;
    -webkit-box-shadow: none;
    box-shadow: none
}

.control-label {
    font-weight: 600
}

.checkbox,
.radio {
    margin-bottom: 15px
}

.checkbox-inline,
.radio-inline {
    margin-right: 20px;
    margin-bottom: 20px
}

.checkbox-inline+.checkbox-inline,
.radio-inline+.radio-inline {
    margin-left: 0
}

.form-horizontal .control-label {
    position: relative;
    top: 3px;
    text-align: right
}

.btn-facebook .caret,
.btn-primary .caret,
.btn-secondary .caret,
.btn-tertiary .caret,
.btn-twitter .caret {
    border-top-color: #fff
}

.dropup .btn-facebook .caret,
.dropup .btn-primary .caret,
.dropup .btn-secondary .caret,
.dropup .btn-tertiary .caret,
.dropup .btn-twitter .caret {
    border-bottom-color: #fff
}

.dropdown-menu>li {
    margin-right: .5em;
    margin-left: .5em
}

.dropdown-menu>li>a {
    padding: 6px 12px;
    font-size: 13px;
    outline: 0;
    border-radius: 4px
}

.dropdown-menu>li>a:focus,
.dropdown-menu>li>a:hover {
    background-color: #ededed
}

.dropdown-menu>.active>a,
.dropdown-menu>.active>a:focus,
.dropdown-menu>.active>a:hover {
    color: #444;
    background-color: #dbdbdb
}

.dropdown-header {
    padding-right: 12px;
    padding-left: 12px;
    font-size: 11px;
    text-transform: uppercase
}

.dropdown-icon {
    width: 16px;
    margin-right: 8px;
    color: #444;
    font-size: 15px;
    text-align: center
}

.dropdown-submenu {
    position: relative
}

.dropdown-submenu>.dropdown-menu {
    display: none;
    top: 0;
    left: 100%;
    margin-top: -6px;
    margin-left: -1px
}

.dropdown-submenu:hover>.dropdown-menu {
    display: block
}

.dropdown-submenu:hover>.dropdown-menu:after,
.dropdown-submenu:hover>.dropdown-menu:before {
    display: none
}

.mainnav .dropdown-submenu>.dropdown-menu,
.navbar .dropdown-submenu>.dropdown-menu {
    display: block;
    margin-top: -6px;
    margin-left: 20px
}

@media (min-width:768px) {
    .mainnav .dropdown-submenu>.dropdown-menu,
    .navbar .dropdown-submenu>.dropdown-menu {
        display: none;
        margin-left: -1px
    }
    .mainnav .dropdown-submenu:hover>.dropdown-menu,
    .navbar .dropdown-submenu:hover>.dropdown-menu {
        display: block
    }
    .dropdown-submenu>a:after {
        content: "";
        display: block;
        float: right;
        width: 0;
        height: 0;
        margin-top: 5px;
        margin-right: -10px;
        border-color: transparent;
        border-style: solid;
        border-width: 5px 0 5px 5px;
        border-left-color: #ccc
    }
    .dropdown-submenu:hover>a:after {
        border-left-color: #d74b4b
    }
}

.table-bordered tfoot tr,
.table-bordered thead tr {
    background-color: #f2f2f2
}

.table-bordered tfoot tr th,
.table-bordered thead tr th {
    color: #444;
    background-color: transparent;
    border-bottom-width: 1px;
    vertical-align: middle;
    font-family: 'Open Sans', 'Trebuchet MS', 'Open Sans', arial, sans-serif;
    font-weight: 500;
    font-size: 14px
}

.pagination>li {
    display: inline-block;
    margin: 0 3px
}

.pagination>li:first-child {
    margin-left: 0
}

.pagination>li:last-child {
    margin-right: 0
}

.pagination>li>a,
.pagination>li>span {
    color: #222;
    background-color: transparent;
    border-color: #ddd;
    border-radius: 4px
}

.pagination>li>a:focus,
.pagination>li>a:hover,
.pagination>li>span:focus,
.pagination>li>span:hover {
    color: #2a6496;
    background-color: #eee;
    border-color: #ddd
}

.pagination>.active>a,
.pagination>.active>a:focus,
.pagination>.active>a:hover,
.pagination>.active>span,
.pagination>.active>span:focus,
.pagination>.active>span:hover {
    color: #fff;
    background-color: #d74b4b;
    border-color: #af2727;
    cursor: default
}

.pager>li>a {
    color: #222
}

.tab-content.stacked-content>.tab-pane {
    padding-top: 0
}

.tab-pane {
    position: relative
}

.nav-pills,
.nav-tabs {
    margin-bottom: 1.5em
}

.nav-pills .fa-caret-down,
.nav-tabs .fa-caret-down {
    margin-left: 3px
}

.nav-pills.nav-stacked>li {
    margin-right: 0;
    margin-bottom: .5em
}

.nav-pills.nav-stacked>li>a {
    padding: 10px 15px
}

.nav-pills>li {
    margin-right: 6px
}

.nav-pills>li>a {
    padding: 5px 12px;
    color: #444;
    background-color: #eee;
    border: 1px solid transparent
}

.nav-pills>li>a:focus,
.nav-pills>li>a:hover {
    color: #444;
    background-color: #e4e4e4;
    border-color: transparent
}

.nav-pills>li.active>a,
.nav-pills>li.active>a:focus,
.nav-pills>li.active>a:hover {
    color: #fff;
    background-color: #d74b4b;
    border-color: transparent
}

.nav-tabs>li>a {
    color: #444;
    background-color: transparent
}

.nav-tabs>li>a:focus,
.nav-tabs>li>a:hover {
    color: #444;
    background-color: #eee
}

.nav-tabs>li.active>a,
.nav-tabs>li.active>a:focus,
.nav-tabs>li.active>a:hover {
    color: #d74b4b;
    background-color: #fff;
    font-weight: 600
}

.nav .open>a,
.nav .open>a:focus,
.nav .open>a:hover {
    color: #444;
    background-color: #eee;
    border-color: #d74b4b
}

.modal-backdrop {
    background-color: #fff
}

.modal-backdrop.in {
    opacity: .65;
    filter: alpha(opacity=65)
}

.lt-ie9 .modal-content {
    border-color: #ccc
}

.modal-styled .modal-header {
    color: #fff;
    background-color: #2b3d4c;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px
}

.modal-styled .modal-header .close {
    color: #7797b2;
    background-color: transparent;
    text-shadow: none;
    opacity: 1;
    filter: alpha(opacity=100)
}

.modal-styled .modal-header .close:hover {
    color: #fff;
    background-color: transparent
}

.modal-styled .modal-title {
    font-weight: 300
}

.modal-styled .modal-content {
    -webkit-box-shadow: 2px 2px 5px rgba(0, 0, 0, .15);
    box-shadow: 2px 2px 5px rgba(0, 0, 0, .15)
}

.modal-styled .modal-footer {
    color: #555;
    background-color: #f1f1f1;
    border-top-color: #ddd;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px
}

.thumbnail-view {
    position: relative;
    display: inline-block;
    overflow: hidden;
    cursor: -moz-zoom-in;
    cursor: -webkit-zoom-in;
    cursor: zoom-in
}

.thumbnail-view img {
    max-width: 100%
}

.thumbnail-view .thumbnail-view-hover {
    display: block;
    position: absolute;
    right: 0;
    z-index: 10;
    width: 100%;
    height: 100%;
    background: #111;
    background: rgba(0, 0, 0, .5);
    -webkit-transform: translateY(-100%);
    -moz-transform: translateY(-100%);
    -ms-transform: translateY(-100%);
    -o-transform: translateY(-100%);
    -webkit-transition: all .25s ease-in-out;
    -moz-transition: all .25s ease-in-out;
    -o-transition: all .25s ease-in-out;
    transition: all .25s ease-in-out
}

.thumbnail-view .thumbnail-view-hover i,
.thumbnail-view .thumbnail-view-hover-lg i {
    display: block;
    position: absolute;
    left: 50%;
    top: 50%;
    width: 48px;
    height: 48px;
    margin-left: -24px;
    margin-top: -24px;
    color: #ddd;
    color: rgba(255, 255, 255, .6);
    font-size: 28px;
    line-height: 44px;
    text-align: center;
    background: 0 0;
    border: 3px solid #fff;
    border-color: rgba(255, 255, 255, .6);
    border-radius: 100px
}

.thumbnail-view .thumbnail-view-hover-lg i {
    width: 72px;
    height: 72px;
    margin-left: -36px;
    margin-top: -36px;
    font-size: 48px;
    line-height: 72px
}

.thumbnail-view:hover .thumbnail-view-hover {
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0)
}

.thumbnail-footer {
    padding: 7px 10px;
    border-top: 1px dotted #ccc
}

.thumbnail-footer:after,
.thumbnail-footer:before {
    content: " ";
    display: table
}

.thumbnail-footer:after {
    clear: both
}

.thumbnail-footer a {
    color: #999;
    font-size: 12px
}

.thumbnail-footer a:hover {
    text-decoration: none;
    color: #d74b4b
}

.thumbnail-footer .pull-left a {
    padding: 0 12px 0 0
}

.thumbnail-footer .pull-right a {
    padding: 0 0 0 12px
}

.thumbnail-table .thumbnail {
    margin-bottom: 0
}

.accordion-panel .panel {
    border-color: #ddd
}

.accordion-panel .panel-heading {
    padding: 0
}

.accordion-panel .accordion-toggle {
    display: block;
    padding: 10px 15px;
    font-size: 14px;
    color: #555;
    background-color: #ebebeb;
    cursor: pointer
}

.accordion-panel .accordion-toggle:focus,
.accordion-panel .accordion-toggle:hover {
    text-decoration: none;
    outline: 0!important
}

.accordion-panel .panel.is-open {
    border-color: #ddd
}

.accordion-panel .panel.is-open .accordion-toggle {
    color: #fff;
    background-color: #354b5e;
    border-top-right-radius: 4px;
    border-top-left-radius: 4px
}

.accordion-simple .panel+.panel {
    margin-top: 0
}

.accordion-simple .panel-heading {
    padding-right: 0;
    padding-left: 0
}

.accordion-simple .panel-body {
    padding-left: 25px
}

.accordion-simple .panel-title {
    position: relative;
    padding-left: 0;
    color: #444;
    font-family: 'Open Sans', 'Trebuchet MS', arial, sans-serif;
    font-size: 14px;
    line-height: 1.75em;
    letter-spacing: -1px
}

.accordion-simple .accordion-caret:before {
    content: "\f196";
    top: 1px;
    left: 0;
    margin-right: 8px
}

.accordion-simple .panel.is-open .accordion-caret:before {
    content: "\f146"
}

.accordion-caret:before {
    content: "\f0da";
    display: inline-block;
    position: relative;
    left: 2px;
    width: 16px;
    height: 16px;
    margin-right: 3px;
    color: #d74b4b;
    font-size: 1.25em
}

.panel.is-open .panel-title {
    color: #444
}

.panel.is-open .accordion-caret:before {
    content: "\f0d7";
    left: 0;
    color: #d74b4b
}

.list-group .list-group-item .list-group-chevron {
    float: right;
    margin-top: 5px;
    color: #bbb
}

.list-group .list-group-item .badge {
    margin-top: 2px
}

.list-group .list-group-item .list-group-chevron+.badge {
    margin-right: 10px
}

.carousel-fade .carousel-inner .item {
    opacity: 0;
    transition-property: opacity
}

.carousel-fade .carousel-inner .active {
    opacity: 1
}

.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
    left: 0;
    opacity: 0;
    z-index: 1
}

.carousel-fade .carousel-inner .next.left,
.carousel-fade .carousel-inner .prev.right {
    opacity: 1
}

.carousel-fade .carousel-control {
    z-index: 2
}

.container {
    position: relative
}

.content {
    position: relative;
    margin-bottom: 2em
}

.layout {
    margin-top: -40px;
    margin-left: -15px;
    margin-right: -15px
}

.layout-main {
    padding-top: 40px;
    padding-bottom: 26px
}

.layout-sidebar {
    padding-top: 40px;
    padding-bottom: 60px
}

.layout-main-left .layout-main {
    padding-right: 30px;
    padding-left: 15px
}

.layout-main-left .layout-sidebar {
    padding-right: 15px;
    padding-left: 30px;
    border-left: 1px solid #ccc;
    -webkit-box-shadow: inset 8px 0 15px -10px rgba(0, 0, 0, .2);
    box-shadow: inset 8px 0 15px -10px rgba(0, 0, 0, .2)
}

.layout-main-right .layout-main {
    padding-right: 15px;
    padding-left: 30px
}

.layout-main-right .layout-sidebar {
    padding-right: 30px;
    padding-left: 15px;
    border-right: 1px solid #ccc;
    -webkit-box-shadow: inset -8px 0 15px -10px rgba(0, 0, 0, .2);
    box-shadow: inset -8px 0 15px -10px rgba(0, 0, 0, .2)
}

.nav-layout-sidebar-skip {
    display: none;
    margin-bottom: 1em;
    font-size: 12px;
    text-align: center
}

.nav-layout-sidebar {
    position: relative;
    z-index: 101;
    margin: 0 0 2em;
    border-top: 1px solid #e5e5e5
}

.nav-layout-sidebar>li {
    padding: 0;
    margin: 0
}

.nav-layout-sidebar>li>a {
    padding-top: 15px;
    padding-bottom: 15px;
    color: #666;
    border-bottom: 1px solid #e5e5e5;
    outline: 0
}

.nav-layout-sidebar>li>a .fa {
    position: relative;
    top: 1px;
    width: 1em;
    margin-right: 4px;
    font-size: 1.25em;
    text-align: center
}

.nav-layout-sidebar>li>a:hover {
    background-color: #f4f4f4
}

.nav-layout-sidebar>.active>a,
.nav-layout-sidebar>.active>a:focus,
.nav-layout-sidebar>.active>a:hover {
    color: #d74b4b;
    font-weight: 600;
    background-color: #fff
}

.nav-layout-sidebar>li+li {
    margin-top: 0
}

.layout-main-left .nav-layout-sidebar {
    margin-right: 0;
    margin-left: -31px
}

.layout-main-left .nav-layout-sidebar>li {
    margin: 0 0 0 1px
}

.layout-main-left .nav-layout-sidebar>.active {
    margin-left: 0
}

.layout-main-right .nav-layout-sidebar {
    margin-left: 0;
    margin-right: -31px
}

.layout-main-right .nav-layout-sidebar>li {
    margin: 0 1px 0 0
}

.layout-main-right .nav-layout-sidebar>.active {
    margin-right: 0
}

@media (max-width:1200px) {
    .layout-stack-lg {
        margin-top: 0
    }
    .layout-stack-lg .layout-main,
    .layout-stack-lg .layout-sidebar {
        padding-top: 0
    }
    .layout-stack-lg .layout-main {
        padding-right: 15px;
        padding-left: 15px
    }
    .layout-stack-lg .layout-sidebar {
        padding-right: 15px;
        padding-left: 15px;
        border-right: none;
        border-left: none;
        -webkit-box-shadow: none;
        box-shadow: none
    }
    .layout-stack-lg .nav-layout-sidebar-skip {
        display: block
    }
    .layout-stack-lg .nav-layout-sidebar {
        margin-right: 0;
        margin-left: 0
    }
}

@media (max-width:992px) {
    .layout-stack-md {
        margin-top: 0
    }
    .layout-stack-md .layout-main,
    .layout-stack-md .layout-sidebar {
        padding-top: 0
    }
    .layout-stack-md .layout-main {
        padding-right: 15px;
        padding-left: 15px
    }
    .layout-stack-md .layout-sidebar {
        padding-right: 15px;
        padding-left: 15px;
        border-right: none;
        border-left: none;
        -webkit-box-shadow: none;
        box-shadow: none
    }
    .layout-stack-md .nav-layout-sidebar-skip {
        display: block
    }
    .layout-stack-md .nav-layout-sidebar {
        margin-right: 0;
        margin-left: 0
    }
}

@media (max-width:768px) {
    .layout-stack-sm {
        margin-top: 0
    }
    .layout-stack-sm .layout-main,
    .layout-stack-sm .layout-sidebar {
        padding-top: 0
    }
    .layout-stack-sm .layout-main {
        padding-right: 15px;
        padding-left: 15px
    }
    .layout-stack-sm .layout-sidebar {
        padding-right: 15px;
        padding-left: 15px;
        border-right: none;
        border-left: none;
        -webkit-box-shadow: none;
        box-shadow: none
    }
    .layout-stack-sm .nav-layout-sidebar-skip {
        display: block
    }
    .layout-stack-sm .nav-layout-sidebar {
        margin-right: 0;
        margin-left: 0
    }
}

@media (max-width:480px) {
    .layout-stack-xs {
        margin-top: 0
    }
    .layout-stack-xs .layout-main,
    .layout-stack-xs .layout-sidebar {
        padding-top: 0
    }
    .layout-stack-xs .layout-main {
        padding-right: 15px;
        padding-left: 15px
    }
    .layout-stack-xs .layout-sidebar {
        padding-right: 15px;
        padding-left: 15px;
        border-right: none;
        border-left: none;
        -webkit-box-shadow: none;
        box-shadow: none
    }
    .layout-stack-xs .nav-layout-sidebar-skip {
        display: block
    }
    .layout-stack-xs .nav-layout-sidebar {
        margin-right: 0;
        margin-left: 0
    }
}

.portlet {
    position: relative;
    padding: 0;
    margin: 0 0 3em
}

.portlet-header {
    padding: 0;
    margin: 0
}

.portlet-title u {
    text-decoration: none
}

.portlet-icon {
    position: relative;
    top: -1px;
    margin-right: 10px;
    font-size: 16px
}

.portlet-body {
    padding: 0;
    margin: 0
}

.portlet-default .portlet-title {
    position: relative;
    margin-bottom: 30px
}

.portlet-default .portlet-title:before {
    content: "";
    display: block;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 1px;
    z-index: 9;
    background: #e6e6e6
}

.portlet-default .portlet-title:after {
    content: "";
    display: block;
    position: relative;
    z-index: 10;
    width: 80px;
    height: 1px;
    margin: 15px 0 0;
    background: #6685a4
}

.portlet-boxed .portlet-header {
    padding: 10px 12px;
    border: 1px solid #ddd;
    border-top-right-radius: 4px;
    border-top-left-radius: 4px
}

.portlet-boxed .portlet-title {
    margin-bottom: 0;
    font-size: 14px
}

.portlet-boxed .portlet-title u {
    text-decoration: none
}

.portlet-boxed .portlet-body {
    padding: 20px 15px;
    border: 1px solid #ddd;
    border-top: none;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px
}

.portlet-table .portlet-body {
    padding: 0
}

.portlet-table .table-bordered {
    margin-top: -2px!important;
    margin-bottom: -2px!important;
    border-right: none;
    border-left: none
}

.portlet-table .dataTables_filter,
.portlet-table .dataTables_paginate {
    float: right;
    padding-right: 10px
}

.portlet-table .dataTables_info,
.portlet-table .dataTables_length {
    float: left;
    padding-left: 10px
}

.portlet-table .dataTables_filter,
.portlet-table .dataTables_length {
    padding-top: 13px;
    padding-bottom: 10px
}

.portlet-table .dataTables_info,
.portlet-table .dataTables_paginate {
    padding-top: 10px;
    padding-bottom: 10px
}

.portlet-table .dataTables_info {
    padding-top: 20px
}

.portlet-boxed .portlet-header {
    background-color: #f4f4f4
}

.portlet-boxed .portlet-title {
    color: #444
}

.portlet-boxed.portlet-inverse .portlet-header {
    background-color: #354b5e
}

.portlet-boxed.portlet-inverse .portlet-title {
    color: #fff
}

.portlet-boxed.portlet-danger .portlet-header {
    background-color: #db5b57
}

.portlet-boxed.portlet-danger .portlet-title {
    color: #fff
}

.portlet-boxed.portlet-warning .portlet-header {
    background-color: #f1b157
}

.portlet-boxed.portlet-warning .portlet-title {
    color: #fff
}

.portlet-boxed.portlet-success .portlet-header {
    background-color: #5cb85c
}

.portlet-boxed.portlet-success .portlet-title {
    color: #fff
}

.portlet-boxed.portlet-info .portlet-header {
    background-color: #5bc0de
}

.portlet-boxed.portlet-info .portlet-title {
    color: #fff
}

.portlet-boxed.portlet-primary .portlet-header {
    background-color: #d74b4b
}

.portlet-boxed.portlet-primary .portlet-title {
    color: #fff
}

.portlet-boxed.portlet-secondary .portlet-header {
    background-color: #6685a4
}

.portlet-boxed.portlet-secondary .portlet-title {
    color: #fff
}

.portlet-boxed.portlet-tertiary .portlet-header {
    background-color: #bcbcbc
}

.portlet-boxed.portlet-tertiary .portlet-title {
    color: #fff
}

.icons-list {
    padding: 0;
    margin: 0 0 10px;
    list-style: none
}

.icons-list>li {
    position: relative;
    padding-left: 2.2em;
    margin-bottom: 1em;
    line-height: 1.65em
}

.icons-list>li>.icon-li {
    position: absolute;
    top: .25em;
    left: 0;
    width: 1em;
    font-size: 1.25em;
    text-align: center
}

.parsley-form .form-group {
    position: relative
}

.parsley-form .form-group .parsley-success .parsley-error-list {
    display: none!important
}

.parsley-form .form-group .parsley-error-list {
    position: relative;
    top: 0;
    display: none!important;
    padding: 2px 10px;
    margin: 0;
    list-style: none;
    color: #fff;
    font-size: 12px;
    font-weight: 600;
    background: #d9534f;
    border-radius: 4px
}

.parsley-form .form-group .parsley-error-list::after {
    content: '';
    display: inline-block;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-bottom: 6px solid #d9534f;
    position: absolute;
    top: -6px;
    left: 3px
}

.parsley-form .form-group .parsley-error-list.filled {
    display: inline-block!important
}

.parsley-form.form-horizontal .form-group span.error {
    margin-left: 15px
}

#back-to-top {
    position: fixed;
    right: 20px;
    bottom: 20px;
    z-index: 1001;
    width: 30px;
    height: 30px;
    display: block;
    color: #fff;
    font-size: 13px;
    text-align: center;
    line-height: 30px;
    background-color: rgba(43, 61, 76, .85);
    border-radius: 3px;
    cursor: pointer;
    transition: background .25s linear
}

#back-to-top:hover {
    color: #fff;
    text-decoration: none;
    background-color: rgba(215, 75, 75, .85)
}

#back-to-top i {
    color: #fff
}

@media (min-width:768px) {
    #back-to-top {
        width: 45px;
        height: 45px;
        font-size: 16px;
        line-height: 45px
    }
}

.notifications-list>li {
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 2.5em;
    margin-bottom: 0;
    font-size: 13px;
    border-bottom: 1px solid #ddd
}

.notifications-list>li>.icon-li {
    top: 10px;
    font-size: 1.4em
}

.pricing-plan {
    position: relative;
    display: block;
    vertical-align: top;
    width: 100%;
    padding: 15px;
    margin-bottom: 2em;
    text-align: center;
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 4px
}

.pricing-header {
    padding: 15px;
    margin: -25px -15px 15px;
    color: #87a3bc;
    background-color: #344a5c;
    border-top-right-radius: 4px;
    border-top-left-radius: 4px
}

.pricing-plan-help {
    border-bottom: 1px dotted #000;
    cursor: help
}

.pricing-plan-help strong.ui-popover {
    border-bottom: 1px dotted #000
}

.pricing-plan-label {
    padding-right: 12px;
    padding-left: 12px;
    font-size: 13px
}

.pricing-plan-title {
    margin-top: 0;
    margin-bottom: 6px;
    color: #fff;
    font-size: 21px;
    font-weight: 400;
    text-transform: uppercase
}

.pricing-plan-price {
    display: block;
    padding: 10px;
    margin: -15px -15px 0;
    color: #555;
    background-color: #f2f2f2;
    border-bottom: 1px solid #ddd
}

.pricing-plan-amount {
    color: #46a546;
    font-size: 24px;
    font-weight: 400
}

.pricing-plan-details {
    padding: .5em 0 0;
    margin: 0 0 1em
}

.pricing-plan-details li {
    padding-top: .5em;
    padding-bottom: .5em;
    list-style: none;
    border-bottom: 1px dotted #ddd
}

.pricing-plan hr {
    margin-top: 10px;
    margin-bottom: 10px
}

.pricing-plan-current,
.pricing-plan-current:hover {
    color: #333;
    font-weight: 800;
    text-decoration: none;
    cursor: default
}

.pricing-plan-ribbon,
.pricing-plan-ribbon-current,
.pricing-plan-ribbon-primary,
.pricing-plan-ribbon-secondary,
.pricing-plan-ribbon-tertiary {
    display: inline-block;
    position: absolute;
    top: 0;
    right: 15px;
    width: 28px;
    padding: 8px 0 12px;
    color: #fff;
    background-color: #777
}

.pricing-plan-ribbon-current:before,
.pricing-plan-ribbon-primary:before,
.pricing-plan-ribbon-secondary:before,
.pricing-plan-ribbon-tertiary:before,
.pricing-plan-ribbon:before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 0;
    border-bottom: 6px solid #344a5c;
    border-right: 14px solid transparent;
    border-left: 14px solid transparent
}

.pricing-plan-ribbon-primary {
    background-color: #d74b4b
}

.pricing-plan-ribbon-secondary {
    background-color: #6685a4
}

.pricing-plan-ribbon-tertiary {
    background-color: #bcbcbc
}

.pricing-plan-ribbon-current {
    background-color: #3d576d;
    color: #d74b4b
}

@media (min-width:768px) {
    .pricing-plan {
        max-width: 300px;
        padding-top: 25px;
        padding-bottom: 25px;
        margin-right: auto;
        margin-left: auto
    }
    .pricing-plan hr {
        margin-top: 20px;
        margin-bottom: 20px
    }
    .pricing-plan-amount {
        font-size: 32px
    }
    .pricing-plan-details {
        margin: 0 0 2em
    }
    .pricing-plan-details li {
        padding-top: 1.25em;
        padding-bottom: 1.25em
    }
}

.share-widget-actions {
    padding: 8px 15px;
    background-color: #f5f5f5;
    border: 1px solid #ddd;
    border-top: none;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px
}

.share-widget-actions:after,
.share-widget-actions:before {
    content: " ";
    display: table
}

.share-widget-actions:after {
    clear: both
}

.share-widget-types a {
    display: inline-block;
    width: 2em;
    padding: 5px 0;
    color: #aaa;
    font-size: 17px;
    text-align: center;
    background-color: transparent;
    border: 1px solid transparent
}

.share-widget-types a:hover {
    text-decoration: none;
    color: #d74b4b;
    background-color: #fff;
    border-color: #ccc;
    border-radius: 4px
}

.share-widget-textarea {
    border-color: #ddd;
    resize: none;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0
}

.feed-item {
    position: relative;
    padding: 22px 0 35px 40px;
    margin: 0 0 0 20px;
    border-left: 2px solid #DDD
}

.feed-item:last-child {
    padding-bottom: 15px
}

.feed-subject {
    margin-bottom: 1.5em
}

.feed-subject a {
    font-weight: 600
}

.feed-content {
    padding-left: 25px
}

.feed-content .thumbnail {
    max-width: 100%
}

.feed-actions {
    padding: 10px;
    margin-top: 2em;
    border-top: 1px dotted #ccc
}

.feed-actions:after,
.feed-actions:before {
    content: " ";
    display: table
}

.feed-actions:after {
    clear: both
}

.feed-actions a {
    color: #999;
    font-size: 13px
}

.feed-actions a:hover {
    text-decoration: none;
    color: #d74b4b
}

.feed-actions .pull-left {
    margin: 0 15px 0 0
}

.feed-actions .pull-right {
    margin: 0 0 0 15px
}

.feed-icon {
    position: absolute;
    top: 15px;
    left: -23px;
    width: 40px;
    height: 40px;
    color: #FFF;
    text-align: center;
    font-size: 16px;
    line-height: 34px;
    background-color: #999;
    border: 3px solid #FFF;
    border-radius: 6px;
    -webkit-box-shadow: 1px 1px 2px rgba(0, 0, 0, .35);
    box-shadow: 1px 1px 2px rgba(0, 0, 0, .35)
}

.progress-stat {
    margin-bottom: 3em
}

.progress-stat:last-child {
    margin-bottom: 0
}

.progress-stat-value {
    float: right;
    width: 50%;
    color: #666;
    font-size: 14px;
    font-weight: 600;
    text-align: right;
    text-transform: uppercase
}

.progress-stat-label {
    float: left;
    width: 50%;
    color: #999;
    font-size: 12px;
    font-weight: 600;
    text-transform: uppercase
}

.progress-stat .progress {
    clear: both;
    position: relative;
    top: .5em
}

.lt-ie9 .progress-stat-value {
    font-size: 13px
}

.row-stat {
    padding: 17px 13px 21px;
    margin-bottom: 1.25em;
    border: 1px solid #ddd;
    border-radius: 3px
}

.row-stat-label {
    color: #999;
    font-size: 11px;
    font-weight: 600;
    text-transform: uppercase
}

.row-stat-value {
    display: inline-block;
    margin-right: .25em;
    margin-bottom: 0
}

.row-stat-badge {
    position: relative;
    top: -3px;
    font-size: 85%
}

.row-stat {
    position: relative
}

.row-stat:after,
.row-stat:before {
    content: '';
    position: absolute;
    display: block;
    height: 1px;
    bottom: -3px;
    left: 3px;
    right: 3px;
    background-color: #fff;
    -webkit-border-radius: 0 0 3px 3px;
    -moz-border-radius: 0 0 3px 3px;
    border-radius: 0 0 3px 3px;
    border: 1px solid #ddd;
    border-top: 0
}

.row-stat:before {
    bottom: -5px;
    left: 6px;
    right: 6px
}

.keyvalue-table>tbody>tr>td {
    vertical-align: middle;
    padding-top: 11px;
    padding-bottom: 11px;
    border-top: none;
    border-bottom: 1px solid #ddd
}

.kv-key {
    color: #555;
    font-size: 12px;
    font-weight: 600;
    text-transform: uppercase
}

.kv-icon {
    position: relative;
    top: 1px;
    width: 30px;
    height: 30px;
    margin-right: .75em;
    color: #444;
    font-size: 15px;
    text-align: center;
    line-height: 30px;
    background-color: #eee;
    border-radius: 4px
}

.kv-icon-default {
    background-color: #fff;
    color: #555;
    border: 1px solid #ccc
}

.kv-icon-primary {
    background-color: #d74b4b;
    color: #fff
}

.kv-icon-secondary {
    background-color: #6685a4;
    color: #fff
}

.kv-icon-tertiary {
    background-color: #bcbcbc;
    color: #fff
}

.kv-icon-success {
    background-color: #5cb85c;
    color: #fff
}

.kv-icon-info {
    background-color: #5bc0de;
    color: #fff
}

.kv-icon-danger {
    background-color: #d9534f;
    color: #fff
}

.kv-icon-warning {
    background-color: #f0ad4e;
    color: #fff
}

.kv-value {
    font-size: 18px;
    font-weight: 600;
    text-align: right
}

.lt-ie9 .kv-value {
    font-size: 15px
}

.heading-block {
    position: relative;
    margin-bottom: 30px;
    text-align: left
}

.heading-block h1,
.heading-block h2,
.heading-block h3,
.heading-block h4,
.heading-block h5,
.heading-block h6 {
    margin-bottom: 0;
    color: #354b5e
}

.heading-block:before {
    content: "";
    display: block;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 1px;
    z-index: 9;
    background: #e6e6e6
}

.heading-block:after {
    content: "";
    display: block;
    position: relative;
    z-index: 10;
    width: 80px;
    height: 1px;
    margin: 20px 0 0;
    background: #6685a4
}

.heading-block.heading-minimal {
    margin-bottom: 60px
}

.heading-block.heading-minimal:after,
.heading-block.heading-minimal:before {
    height: 2px
}

.heading-block.heading-minimal:before {
    display: none
}

.heading-block.heading-minimal:after {
    margin-top: 40px
}

.heading-block.heading-center {
    text-align: center
}

.heading-block.heading-center:after {
    margin-right: auto;
    margin-left: auto
}

.account-bg {
    background-color: #eee
}

.account-wrapper {
    position: relative;
    width: 90%;
    padding: 0;
    margin: 0 auto;
    text-align: center
}

.account-wrapper .row>div {
    margin-bottom: 1em
}

.account-form {
    padding: 0;
    margin-top: 2em;
    margin-bottom: 2em;
    text-align: left
}

.account-form .placeholder-hidden {
    display: none
}

.account-form .form-control {
    height: 40px;
    padding-top: 8px;
    padding-bottom: 8px;
    margin-bottom: 1.25em
}

.account-body {
    position: relative;
    padding: 35px 30px 10px;
    margin-bottom: 1em;
    color: #444;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 4px;
    -webkit-box-shadow: 1px 1px 1px rgba(0, 0, 0, .15);
    box-shadow: 1px 1px 1px rgba(0, 0, 0, .15)
}

.account-footer {
    padding: 0 25px;
    margin-top: 1.5em
}

.account-or-social {
    display: block;
    margin-top: 1em
}

@media (min-width:768px) {
    .account-wrapper {
        width: 450px;
        padding: 0
    }
    .account-wrapper .row>div {
        margin-bottom: 0
    }
    .account-body .account-form {
        padding: 0 25px;
        text-align: left
    }
    .account-or-social {
        margin-top: 2em
    }
}

.error-container {
    margin-top: 1em;
    text-align: center
}

.error-code {
    display: inline-block;
    vertical-align: top;
    font-family: 'Open Sans', 'Trebuchet MS', 'Open Sans', arial, sans-serif;
    font-size: 100px;
    font-weight: 500;
    line-height: .7em
}

.error-details {
    display: inline-block;
    vertical-align: top;
    margin-top: 4em
}

.error-details ul {
    text-align: left
}

@media (min-width:768px) {
    .error-container {
        margin-top: 2.5em
    }
    .error-details {
        width: 250px;
        margin-top: 0;
        margin-left: 25px;
        text-align: left
    }
}

@media (min-width:992px) {
    .error-container {
        margin-top: 5em
    }
    .error-code {
        font-size: 150px
    }
    .error-details {
        width: 350px;
        margin-left: 50px
    }
}

.demo-btn {
    margin: 0 .5em 1em 0
}

.demo-element {
    display: inline-block;
    margin: 0 .5em 1em 0
}

.demo-dropdown-menu {
    display: inline-block;
    position: static;
    top: auto;
    left: auto;
    float: none
}

.demo-section {
    margin-bottom: 5em
}

.demo-section:after,
.demo-section:before {
    content: " ";
    display: table
}

.demo-section:after {
    clear: both
}

.fontawesome-icon-list {
    margin-top: 3em;
    margin-bottom: 3em
}

.fontawesome-icon-list>div {
    margin-bottom: 3em;
    text-align: center
}

.fontawesome-icon-list>div a {
    display: block;
    color: #777
}

.fontawesome-icon-list>div a:hover {
    color: #d74b4b;
    text-decoration: none
}

.fontawesome-icon-list>div i {
    display: block;
    margin-bottom: 10px;
    font-size: 22px
}

.valign-top {
    vertical-align: top!important
}

.valign-middle {
    vertical-align: middle!important
}

.valign-bottom {
    vertical-align: bottom!important
}

.chart-bg {
    padding: 30px 30px 20px;
    border-radius: 4px
}

.chart-bg .tickLabel {
    color: #fff
}

.bg-primary {
    background-color: #d74b4b
}

.bg-secondary {
    background-color: #6685a4
}

.bg-tertiary {
    background-color: #bcbcbc
}

.bg-success {
    background-color: #5cb85c
}

.bg-danger {
    background-color: #d9534f
}

.bg-warning {
    background-color: #f0ad4e
}

.bg-info {
    background-color: #5bc0de
}

.chart-holder,
.chart-holder-200,
.chart-holder-250,
.chart-holder-300,
.chart-holder-350 {
    width: 98%;
    margin: 0 auto
}

.chart-holder {
    height: 300px
}

.chart-holder-200 {
    height: 200px
}

.chart-holder-250 {
    height: 250px
}

.chart-holder-300 {
    height: 300px
}

.chart-holder-350 {
    height: 350px
}

.clear {
    clear: both
}

.required {
    color: #d9534f
}

hr.spacer-lg,
hr.spacer-md,
hr.spacer-sm,
hr.spacer-xl,
hr.spacer-xs {
    margin-top: 0;
    margin-bottom: 0;
    border: none
}

hr.spacer-xl {
    height: 120px
}

hr.spacer-lg {
    height: 90px
}

hr.spacer-md {
    height: 60px
}

hr.spacer-sm {
    height: 30px
}

hr.spacer-xs {
    height: 15px
}

iframe {
    border: none
}

table.dataTable {
    margin-top: 12px!important;
    margin-bottom: 12px!important
}

table.table-bordered.dataTable {
    border-collapse: collapse!important
}

#flotTip {
    padding: 3px 6px!important;
    color: #FFF!important;
    font-size: 11px!important;
    text-align: center!important;
    text-decoration: none!important;
    background-color: #222!important;
    background-color: rgba(0, 0, 0, .75)!important;
    border: 1px solid #222!important;
    -webkit-border-radius: 3px!important;
    -moz-border-radius: 3px!important;
    border-radius: 3px!important
}

.select2-container {
    margin-left: 0!important;
    text-align: left
}

.select2-container .select2-choice {
    height: 34px;
    line-height: 32px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    border-color: #ccc;
    background: #fff!important;
    filter: none;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075)
}

.select2-container .select2-choice .select2-arrow {
    background: 0 0;
    border: none;
    top: 2px;
    right: 5px
}

.select2-container .select2-choice .select2-arrow b {
    background-position: 1px 1px
}

.select2-dropdown-open .select2-choice .select2-arrow b {
    background-position: -17px 1px
}

.select2-container .select2-choice:hover,
.select2-container-active .select2-choice,
.select2-container-active .select2-choices {
    border-color: #c2c2c2!important;
    -webkit-box-shadow: none!important;
    -moz-box-shadow: none!important;
    box-shadow: none!important
}

.select2-results {
    padding: 0;
    margin-right: 0
}

.select2-search {
    padding-top: 4px
}

.select2-drop,
.select2-drop.select2-drop-above {
    border: 1px solid #aaa;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0
}

.select2-drop.select2-drop-above.select2-drop-active {
    border-color: #aaa;
    margin-top: -5px
}

.select2-drop-multi.select2-drop-above {
    margin-top: -1px!important
}

.select2-container .select2-choice abbr {
    top: 9px
}

.select2-container-multi .select2-choices {
    min-height: 34px;
    background: #fff;
    border: 1px solid #ccc;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px
}

.select2-container-multi .select2-choices .select2-search-field input {
    height: 28px;
    padding-bottom: 4px
}

.select2-container-multi .select2-choices .select2-search-choice {
    background: #f8f8f8;
    height: 22px;
    line-height: 14px;
    margin: 2px 1px 1px 2px;
    -webkit-border-radius: 2px!important;
    -moz-border-radius: 2px!important;
    border-radius: 2px!important;
    padding: 3px 22px 3px 6px;
    border: 1px solid #aaa;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none
}

.select2-container-multi .select2-search-choice-close {
    right: 3px;
    top: 4px;
    left: auto
}

.select2-container-multi .select2-choices .select2-search-choice-focus {
    background: #e1e1e1
}

.select2-dropdown-open.select2-drop-above .select2-choice,
.select2-dropdown-open.select2-drop-above .select2-choices {
    background: #fff!important;
    border: 1px solid #dcdcdc;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px
}

.select2-container .select2-choice>.select2-chosen i,
.select2-container-multi .select2-choices .select2-search-choice i,
.select2-results .select2-result-label i {
    margin: -1px 6px 0 0;
    height: 15px;
    vertical-align: -2px
}

.form-control.select2-container {
    height: auto;
    padding: 0;
    border: none;
    -webkit-box-shadow: none;
    box-shadow: none
}

.ui-icheck {
    display: inline-block;
    position: relative;
    top: -2px;
    margin-right: 6px;
    margin-left: -20px
}

table.dataTable-helper>thead>tr>th {
    padding-left: 8px;
    padding-right: 8px
}

table.dataTable-helper>thead>tr>th .form-control {
    display: block!important;
    width: 100%!important;
    font-family: 'Open Sans', 'Trebuchet MS', arial, sans-serif;
    font-size: 13px
}

table.dataTable-helper th.highlight {
    background-color: #ffd!important
}

table.dataTable-helper td.highlight {
    background-color: #ffe!important
}

.navbar {
    margin-bottom: 0;
    border-radius: 0
}

.navbar .navbar-brand {
    height: 54px;
    padding-top: 0;
    padding-bottom: 0
}

.navbar-profile-avatar {
    width: 30px;
    margin-right: .65em;
    border: 2px solid #87a3bc;
    border-radius: 3px
}

.navbar-profile-label-visible {
    display: inline!important
}

.navbar-nav>.navbar-profile .dropdown-toggle {
    padding-left: 50px
}

.navbar-nav>.navbar-profile .dropdown-toggle:hover .navbar-profile-avatar,
.navbar-nav>.navbar-profile.open .navbar-profile-avatar {
    border-color: #fff
}

.navbar-profile-avatar {
    position: absolute;
    top: 50%;
    left: 12px;
    margin-top: -14px
}

@media (min-width:768px) {
    .navbar-nav>li>a {
        padding-top: 17px;
        padding-bottom: 17px
    }
}

.navbar {
    background-color: #2b3d4c;
    border-color: #2b3d4c
}

.navbar .navbar-brand {
    color: #87a3bc
}

.navbar .navbar-brand:focus,
.navbar .navbar-brand:hover {
    color: #fff;
    background-color: #283846
}

.navbar .navbar-text {
    color: #fff
}

.navbar .navbar-nav>li>a {
    color: #87a3bc;
    font-weight: 600
}

.navbar .navbar-nav>li>a:focus,
.navbar .navbar-nav>li>a:hover {
    color: #fff;
    background-color: #283846
}

.navbar .navbar-nav>.active>a,
.navbar .navbar-nav>.active>a:focus,
.navbar .navbar-nav>.active>a:hover {
    color: #fff;
    background-color: #253542
}

.navbar .navbar-nav>.disabled>a,
.navbar .navbar-nav>.disabled>a:focus,
.navbar .navbar-nav>.disabled>a:hover {
    color: #444;
    background-color: transparent
}

.navbar .navbar-toggle:focus,
.navbar .navbar-toggle:hover {
    background-color: #273746
}

.navbar .navbar-toggle .icon-bar {
    background-color: #fff
}

.navbar .navbar-collapse,
.navbar .navbar-form {
    border-color: #1e2a35
}

.navbar .navbar-nav>.open>a,
.navbar .navbar-nav>.open>a:focus,
.navbar .navbar-nav>.open>a:hover {
    background-color: #253542;
    color: #fff
}

@media (max-width:767px) {
    .navbar .navbar-nav .open .dropdown-menu>.dropdown-header {
        border-color: #2b3d4c
    }
    .navbar .navbar-nav .open .dropdown-menu .divider {
        background-color: #2b3d4c
    }
    .navbar .navbar-nav .open .dropdown-menu>li>a {
        color: #87a3bc
    }
    .navbar .navbar-nav .open .dropdown-menu>li>a:focus,
    .navbar .navbar-nav .open .dropdown-menu>li>a:hover {
        color: #fff;
        background-color: #283846
    }
    .navbar .navbar-nav .open .dropdown-menu>.active>a,
    .navbar .navbar-nav .open .dropdown-menu>.active>a:focus,
    .navbar .navbar-nav .open .dropdown-menu>.active>a:hover {
        color: #fff;
        background-color: #253542
    }
    .navbar .navbar-nav .open .dropdown-menu>.disabled>a,
    .navbar .navbar-nav .open .dropdown-menu>.disabled>a:focus,
    .navbar .navbar-nav .open .dropdown-menu>.disabled>a:hover {
        color: #444;
        background-color: transparent
    }
}

.navbar .navbar-link {
    color: #87a3bc
}

.navbar .navbar-link:hover {
    color: #fff
}

.navbar .btn-link {
    color: #87a3bc
}

.navbar .btn-link:focus,
.navbar .btn-link:hover {
    color: #fff
}

.navbar .btn-link[disabled]:focus,
.navbar .btn-link[disabled]:hover,
fieldset[disabled] .navbar .btn-link:focus,
fieldset[disabled] .navbar .btn-link:hover {
    color: #444
}

.navbar .navbar-toggle {
    height: 54px;
    padding: 0 15px;
    margin: 0;
    color: #50718d;
    font-size: 18px;
    line-height: 54px;
    border-color: transparent
}

@media (min-width:768px) {
    .navbar-collapse .navbar-nav.navbar-left:first-child {
        margin-left: 0
    }
    .navbar .dropdown-menu:before {
        content: '';
        display: inline-block;
        border-left: 8px solid transparent;
        border-right: 8px solid transparent;
        border-bottom: 8px solid #fff;
        position: absolute;
        top: -7px;
        left: 9px
    }
    .navbar-right .dropdown-menu:before {
        right: 9px;
        left: auto
    }
}

.navbar .navbar-nav>.navbar-notification>.dropdown-toggle {
    color: #87a3bc;
    background-color: transparent;
    font-size: 13px
}

.navbar .navbar-nav>.navbar-notification>.dropdown-toggle .badge {
    padding: 4px 7px;
    font-size: 10px;
    border-radius: 100px
}

.navbar .navbar-nav>.navbar-notification>.dropdown-toggle .navbar-notification-icon {
    color: #50718d
}

.navbar .navbar-nav>.navbar-notification>.dropdown-toggle:focus,
.navbar .navbar-nav>.navbar-notification>.dropdown-toggle:hover {
    color: #fff;
    background-color: #283846
}

.navbar .navbar-nav>.navbar-notification>.dropdown-toggle:focus .navbar-notification-icon,
.navbar .navbar-nav>.navbar-notification>.dropdown-toggle:hover .navbar-notification-icon {
    color: #fff
}

.navbar .navbar-nav>.navbar-notification.open>.dropdown-toggle,
.navbar .navbar-nav>.navbar-notification.open>.dropdown-toggle:focus,
.navbar .navbar-nav>.navbar-notification.open>.dropdown-toggle:hover {
    color: #fff;
    background-color: #253542
}

.navbar .navbar-nav>.navbar-notification.open>.dropdown-toggle .navbar-notification-icon,
.navbar .navbar-nav>.navbar-notification.open>.dropdown-toggle:focus .navbar-notification-icon,
.navbar .navbar-nav>.navbar-notification.open>.dropdown-toggle:hover .navbar-notification-icon {
    color: #fff
}

.navbar .navbar-nav>.navbar-notification .dropdown-menu {
    min-width: 300px
}

.navbar .navbar-nav>.navbar-notification .dropdown-menu:before {
    left: 15px
}

.navbar .navbar-nav>.navbar-notification .notification {
    display: block;
    position: relative;
    padding: 6px 12px 6px 75px;
    border-bottom: 1px solid #ddd
}

.navbar .navbar-nav>.navbar-notification .notification,
.navbar .navbar-nav>.navbar-notification .notification:hover {
    color: #aaa;
    text-decoration: none
}

.navbar .navbar-nav>.navbar-notification .notification:hover {
    background-color: #f2f2f2
}

.navbar .navbar-nav>.navbar-notification .dropdown-header {
    padding-top: 8px;
    padding-bottom: 8px;
    text-transform: initial;
    border-bottom: 1px solid #ddd;
    color: #444;
    font-size: 13px;
    font-weight: 600
}

.navbar .navbar-nav>.navbar-notification .notification-list {
    overflow: hidden;
    position: relative
}

.navbar .navbar-nav>.navbar-notification.empty .notification-list {
    display: table-cell;
    vertical-align: middle;
    padding: 0 18px;
    text-align: center
}

.navbar .navbar-nav>.navbar-notification.empty .notification-link {
    display: none
}

.navbar .navbar-nav>.navbar-notification.empty .slimScrollBar {
    display: none!important
}

.navbar .navbar-nav>.navbar-notification .notification-description,
.navbar .navbar-nav>.navbar-notification .notification-time,
.navbar .navbar-nav>.navbar-notification .notification-title {
    display: block;
    font-size: 12px
}

.navbar .navbar-nav>.navbar-notification .notification-title {
    padding-bottom: 1px;
    color: #222;
    font-weight: 600
}

.navbar .navbar-nav>.navbar-notification .notification-description {
    padding-bottom: 3px;
    color: #666;
    font-size: 12px
}

.navbar .navbar-nav>.navbar-notification .notification-time {
    font-size: 11px;
    font-style: italic;
    color: #bbb
}

.navbar .navbar-nav>.navbar-notification .notification-icon {
    position: absolute;
    top: 50%;
    left: 10px;
    width: 50px;
    height: 50px;
    margin: -25px 12px 0 0;
    font-size: 14px;
    line-height: 50px;
    text-align: center
}

.navbar .navbar-nav>.navbar-notification .notification-icon img {
    width: 50px;
    height: 50px
}

.navbar .navbar-nav>.navbar-notification .notification-icon i {
    width: 50px;
    height: 50px;
    text-align: center;
    font-size: 28px;
    display: block;
    line-height: 40px
}

.navbar .navbar-nav>.navbar-notification .notification-link {
    text-align: center;
    padding: 8px 0!important;
    border-top: 1px solid #ddd;
    display: block;
    text-decoration: none!important;
    font-size: 12px;
    font-weight: 600;
    line-height: 18px!important;
    height: auto!important
}

.navbar .navbar-nav>.navbar-notification .notification-link:hover {
    background: #eee
}

.navbar .navbar-nav>.navbar-notification .notification-empty-title {
    color: #d74b4b
}

.navbar .navbar-nav>.navbar-notification .notification-empty-text {
    color: #777
}

@media (min-width:768px) {
    .navbar .navbar-nav>.navbar-notification>.dropdown-toggle {
        font-size: 18px
    }
    .navbar .navbar-nav>.navbar-notification>.dropdown-toggle .badge {
        position: absolute;
        top: 6px;
        right: 3px
    }
}

@media (max-width:767px) {
    .navbar-notification .dropdown-menu {
        display: none!important
    }
}

.mainnav {
    position: relative;
    margin-bottom: 40px;
    background-color: #fff;
    border-bottom: 1px solid #ddd
}

.mainnav:after {
    content: '';
    position: absolute;
    top: 100%;
    z-index: -1;
    width: 100%;
    height: 50px;
    margin-top: 2px;
    background-image: -webkit-linear-gradient(top, #f2f2f2 0, #fff 100%);
    background-image: -o-linear-gradient(top, #f2f2f2 0, #fff 100%);
    background-image: linear-gradient(to bottom, #f2f2f2 0, #fff 100%);
    background-repeat: repeat-x;
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#fff2f2f2', endColorstr='#ffffffff', GradientType=0)
}

.mainnav .dropdown-menu {
    min-width: 200px
}

.mainnav-toggle {
    display: block;
    padding: 12px 0;
    margin: 0 -15px;
    color: #d74b4b;
    font-size: 18px;
    text-align: center;
    cursor: pointer;
    background: 0 0
}

.mainnav-toggle:hover {
    color: #d13232;
    background: 0 0
}

.mainnav-form {
    position: relative;
    padding-top: 15px;
    padding-bottom: 15px;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd
}

.mainnav-form-btn {
    position: absolute;
    top: 17px;
    right: 2px;
    color: #d74b4b;
    background-color: transparent;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0
}

.mainnav-form-btn:hover {
    color: #9a2222
}

.mainnav-menu {
    padding: 0;
    margin: 0 -15px;
    list-style-type: none
}

.mainnav-menu>li {
    position: relative
}

.mainnav-menu>li>a {
    position: relative;
    display: block;
    padding: 8px 10px;
    color: #999;
    font-weight: 300;
    background: #fff
}

.mainnav-menu>li>a:hover {
    background-color: #f6f6f6
}

.mainnav-menu>li>a,
.mainnav-menu>li>a:focus,
.mainnav-menu>li>a:hover {
    text-decoration: none
}

.mainnav-menu>li.open>a,
.mainnav-menu>li.open>a:focus,
.mainnav-menu>li.open>a:hover {
    color: #555;
    background-color: #f4f4f4
}

.mainnav-menu>li.active>a,
.mainnav-menu>li.active>a:focus,
.mainnav-menu>li.active>a:hover {
    color: #d74b4b
}

.mainnav-menu .mainnav-caret:before {
    display: inline-block;
    position: relative;
    top: -1px;
    margin-left: .25em;
    font-family: FontAwesome;
    font-style: normal;
    font-weight: 300;
    line-height: 1;
    content: "\f0d7";
    -webkit-font-smoothing: antialiased
}

@media (min-width:768px) {
    .mainnav-toggle {
        display: none
    }
    .mainnav-collapse {
        width: auto;
        padding-right: 0;
        padding-left: 0;
        border-top: 0;
        box-shadow: none
    }
    .mainnav-collapse.collapse {
        display: block!important;
        height: auto!important;
        padding-bottom: 0;
        overflow: visible!important;
        visibility: visible!important
    }
    .mainnav-form {
        position: absolute;
        top: 50%;
        right: 15px;
        height: 34px;
        margin-top: -17px;
        padding-top: 0;
        padding-bottom: 0;
        border-top: none;
        border-bottom: none
    }
    .mainnav-search-query {
        width: 120px
    }
    .mainnav-form-btn {
        top: 2px
    }
    .mainnav-menu {
        margin-left: -15px
    }
    .mainnav-menu>li {
        float: left;
        margin-right: 0
    }
    .mainnav-menu>li>a {
        padding: 15px 10px;
        font-size: 16px;
        letter-spacing: -1px;
        border-bottom: 1px solid transparent;
        border-bottom-color: transparent
    }
    .mainnav-menu>li>a:hover {
        background-color: #f4f4f4;
        border-bottom-color: transparent
    }
    .mainnav-menu>li.active>a {
        border-bottom-color: #d74b4b
    }
    .mainnav-menu .mainnav-caret {
        font-size: 13px
    }
    .mainnav-menu>li>.dropdown-menu {
        top: 97%;
        border-color: #ccc;
        border-top-right-radius: 0;
        border-top-left-radius: 0
    }
    .mainnav-menu>li>.dropdown-menu:after,
    .mainnav-menu>li>.dropdown-menu:before {
        content: '';
        display: inline-block;
        border-left: 7px solid transparent;
        border-right: 7px solid transparent;
        border-bottom: 7px solid #CCC;
        border-bottom-color: rgba(0, 0, 0, .2);
        position: absolute;
        top: -7px;
        left: 9px
    }
    .mainnav-menu>li>.dropdown-menu:after {
        border-left-width: 6px;
        border-right-width: 6px;
        border-bottom-width: 6px;
        border-bottom-color: #fff;
        top: -6px;
        left: 10px
    }
}

@media (min-width:992px) {
    .mainnav-search-query {
        width: auto
    }
    .mainnav-menu>li {
        margin-right: 10px
    }
    .mainnav-menu>li>a {
        font-size: 18px
    }
    .mainnav-menu .mainnav-caret {
        top: -2px;
        font-size: 18px
    }
    .lt-ie9 .mainnav-menu>li>a {
        font-size: 16px
    }
    .lt-ie9 .mainnav-menu .mainnav-caret {
        font-size: 14px
    }
}

@media (min-width:1200px) {
    .mainnav-menu>li>a {
        font-size: 14px
    }
}

@media (max-width:767px) {
    .mainnav-menu .dropdown-menu {
        position: static;
        float: none;
        width: auto;
        margin-top: 0;
        background-color: transparent;
        border: 0;
        box-shadow: none
    }
    .mainnav-menu .dropdown-menu>li>a {
        padding-left: 25px
    }
    .mainnav-menu>li.is-open .dropdown-menu {
        display: block!important
    }
}

.footer {
    padding: 20px 0;
    color: #fff;
    background-color: #2f4354
}

.footer:after,
.footer:before {
    content: " ";
    display: table
}

.footer:after {
    clear: both
}

.footer p {
    margin-bottom: 0
}

.footer a {
    color: #98b0c5
}

.footer a:hover {
    color: #fff
}

body,
html {
    height: 100%
}

#wrapper {
    min-height: 100%;
    height: auto;
    padding: 0 0 60px;
    margin: 0 auto -60px
}

.footer {
    height: 60px
}