@charset "UTF-8";

@font-face {
  font-family: "pricicon";

  src:url("https://s3-ap-southeast-1.amazonaws.com/mazkarafonts/fonts/pricicon/pricicon.eot");
  src:url("https://s3-ap-southeast-1.amazonaws.com/mazkarafonts/fonts/pricicon/pricicon.eot?#iefix") format("embedded-opentype"),
    url("https://s3-ap-southeast-1.amazonaws.com/mazkarafonts/fonts/pricicon/pricicon.woff") format("woff"),
    url("https://s3-ap-southeast-1.amazonaws.com/mazkarafonts/fonts/pricicon/pricicon.ttf") format("truetype"),
    url("https://s3-ap-southeast-1.amazonaws.com/mazkarafonts/fonts/pricicon/pricicon.svg#pricicon") format("svg");
  font-weight: normal;
  font-style: normal;

}

[data-icon]:before {
  font-family: "pricicon" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "pricicon" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-price-01:before {
  content: "\61";
}
.icon-price-03:before {
  content: "\62";
}
.icon-price-02:before {
  content: "\63";
}
