@media (max-width: 1100px){
  #top-navbar-search-form{
    _width:48% !important;;
  }
}

@media (max-width: 771px){
  #sidebar-navbar-filter{
    padding:10px;
    border: 1px solid #CCC;
  }

  .navbar-nav.navbar-secondary{
    margin:7.5px 0px 7.5px 0px;
  }
  
  .navbar-default .navbar-nav a, 
  .navbar-default .navbar-nav a::after, 
  .navbar-default .navbar-nav a:focus::after{
    color: #fff !important;
  }

  nav#footer{
    background-size: auto !important;
  }

  .mb0-mobile{
    margin-bottom: 0px !important;
  }


  .pb0-mobile{
    padding-bottom: 0px !important;
  }

.bg-home-banner-pink{
  background-image: url(https://s3.amazonaws.com/mazkaracdn/assets/fabfinds-mobile.jpg) !important;
  background-position: left left !important;
  background-size: cover !important;
}

.no-bg-on-mobile{
  background-color: transparent !important;
}

  .navbar-header{
  }

  .breadcrumbs, .breadcrumbs{
    margin-bottom: 10px;
  }

  .row.no-gutter{
    padding-left:0px !important;
    padding-right:0px !important;
  }


  .banner-head-content .row.mr0{
    margin-right:-15px !important;
  }
  .dropdown-menu > li > a{
    text-align: center;
  }
  #top-navbar-search-form{
    width:inherit !important;
    clear: both;
  }
  
  div.navbar-brand {
    margin-left: -20px !important;
  }
  #tf-menu a.navbar-brand {
    float:none !important;
    background-position: 14px 11px !important;
  }

  #tf-menu .navbar-center{
    left:auto;text-align: left;
    width:auto !important;
  }
  
  .navbar-secondary > li.parent{
    display:block !important;
    float:none;
    text-align:center;
  }

  .yamm-content{
    text-align: center;
  }

  .navbar-secondary > li.nav-bullet.parent{
    display:none !important;
  }

  .breadcrumb > li{
    display:inline; padding:0px;
  }
  .breadcrumb > li + li::before{
    padding:0px;
  }

  h1.item-heading, 
  h1.item-name,
  h2.item-name{
    font-size: 150% !important;
    padding-bottom: 0px;
  } 

  .center-on-mobile{
    text-align: center;
  }

  .br-widget a{width:20px;}
  .show-only-mobile{
    display:block !important;
  }

  .show-ib-only-mobile{
    display:inline-block !important;
  }

  .bbdb.show-only-mobile{
    _border-bottom: 3px solid #dadada !important;
  }

  .hide-only-mobile{
    display:none !important;
  }

.col-md-4.pr0.br{
  padding-right:15px;
  border-right: 0px none;
}

.item-map-holder.pr10{
  padding-right: 0px;
}
  #sortable-niblet{
    float:none;
    display:block;
    text-align: center;
    width:100%;
    padding: 10px 0px 10px 0px;
  }
  
  h1.item-heading, 
  h2.item-name{
    line-height: 1.1;
  }

  .banner-head h1, .banner-head h1, h2.banner-head{
    line-height: 1.2 !important;
  }
  .banner-head{
    padding: 10px;
  }
.no-border-radius{
  -webkit-border-radius: 0 !important;
  -moz-border-radius: 0 !important;
  border-radius: 0 !important;
}

.height-283-mobile{
  height: 283px !important;
}


  .banner-head .input-group input, .banner-head .input-group .input-group-btn{
    display:block !important;
    width:100% !important;
    margin-bottom: 5px !important;
    display: block !important; 
    position: relative !important; 
    float: right !important; 
    width: 100% !important;
  }
.banner-head .input-group .input-group-btn  button{
    width:100% !important;
  }
  .banner-head .input-group .input-group-btn{
    margin-bottom: 0px !important;
  }

  .content {
  	padding: 40% 0 0;
	}
}

@media (max-width: 768px){

  .banner-content-form{
    background-color:rgba(0, 0, 0, 0.6);
    padding:11px;
    _top: 10px !important;
    position:absolute;width:100%;
  }

  .border-radius-5-mobile,
  .no-border-radius.border-radius-5-mobile{
    -webkit-border-radius: 5px !important;
    -moz-border-radius: 5px !important;
    border-radius: 5px !important;
  }

  .border-radius-50pc-mobile,
  .no-border-radius.border-radius-50pc-mobile,
  .no-border-radius.border-right-radius-50pc{
    -webkit-border-radius: 25px !important;
    -moz-border-radius: 25px !important;
    border-radius: 25px !important;
  }

  .pr0-mobile{
    padding-right:0px !important;
  }

  .pl0-mobile{
    padding-left:0px !important;
  }

  .p0-mobile{
    padding:0px !important;
  }

.home-category{
  margin-right:5px
}

.home-category i{
  font-size: 125% !important;
}

.home-category .label{
  font-size: 80%;
}

    .navbar-collapse.collapse {
        display: none !important;
    }

    .navbar-form{
      margin:8px -15px !important;
    }

    .yamm-content .col-sm-10{
      float: none; width:auto;
    }

    .navbar-collapse {
        overflow-x: visible !important;
    }

    .navbar-collapse.in {
      overflow-y: auto !important;
    }

    .collapse.in {
      display: block !important;
    }

  .navbar-toggle{
    display: inline-block !important;
  }
  .navbar-header{float: none;}
  #sidebar-navbar-filter{
    padding:10px;
    border: 1px solid #CCC;
  }

  #top-main-logo-container .fa{
  }

  #top-main-logo-container .icon-bar{
    background-color: #fff !important;
  }

.banner-head-content.content{
  padding: 0px !important;
}


.navbar-nav .open .dropdown-menu {
    background-color: transparent;
    border: 0 none;
    box-shadow: none;
    float: none;
    margin-top: 0;
    position: static;
    width: auto;
}

#tf-home{
  height:310px !important;/*top:50px !important;*/

}
h1 .rating-xxs{
  font-size:18px !important;
}
#tf-home-text-overlay{
  height:200px !important;
  padding-top: 0px !important;

}

#top-navbar-search-form .input-group-btn{
  float:none !important;
  width:100% !important;

  display:block !important;
  
}
#top-navbar-search-form{
  padding-left: 10px !important;
  padding-right: 10px !important;
  background-color: #666666;
  margin-bottom: 0px !important;
  margin-top:0px !important;
}
#top-navbar-search-form .form-control{
  height: auto;
}

#top-navbar-search-form #search-selector,
#top-navbar-search-form #location-selector,
#top-navbar-search-form #search-bar-button{
  float:none !important;
  width:100% !important;
  margin-bottom:5px;
  padding-top: 10px !important;
  padding-bottom: 10px !important;
  font-size:16px !important;
  display:block !important;
}
#top-navbar-search-form .glyphicon{
  font-size:18px !important;
  padding-top:13px !important;
}

  #search-box-holder,
  #search-box-home-holder,
  #search-location-holder{
    width:100% !important;
  }
.left-addon input  { padding-left:  30px !important; }



  .banner-head #search-selector,
  .banner-head #location-selector{
    font-size: 16px;
  }

  .banner-head #search-selector,
  .banner-head #location-selector,
  .banner-head #search-bar-button{
    /* border-radius: 4px !important;
    -webkit-border-radius: 4px !important;
    -moz-border-radius: 4px !important;*/
  }

  #search-bar-button{
    margin-left:0px !important;
  }

  #search-bar-button{
/*    -webkit-border-radius: 25px !important;
    -moz-border-radius: 25px !important;
    border-radius: 25px !important;*/

  }

  .border-no-bottom-mobile,
  .border-no-bottom-mobile.no-border-radius.border-radius-5-mobile{
    -webkit-border-radius: 5px 5px 0px 0px !important;
    -moz-border-radius: 5px 5px 0px 0px !important;
    border-radius: 5px 5px 0px 0px !important;
  }
  .border-no-bottom-mobile,
  .border-no-bottom-mobile.no-border-radius.border-radius-50pc-mobile{
    -webkit-border-radius: 25px 25px 0px 0px !important;
    -moz-border-radius: 25px 25px 0px 0px !important;
    border-radius: 25px 25px 0px 0px !important;
  }

  .breadcrumb > li{
    display:inline; padding:0px;
    font-size: 80%;
  }
  .breadcrumb > li + li::before{
    padding:0px;
  }

.show-only-mobile{
    display:block !important;
  }
  .show-ib-only-mobile{
    display:inline-block !important;
  }

.banner-head-content .row.mr0{
  margin-right:-15px !important;
}

  .banner-head h1, .banner-head h1, h2.banner-head{
    line-height: 1.2 !important;
  }
  .banner-head{
    padding: 10px;
  }

  h1.item-name{
    font-size: 180% !important;
  } 
  .br-widget a{width:20px;}

  .banner-head .input-group input, .banner-head .input-group .input-group-btn{
    display:block !important;
    width:100% !important;
    margin-bottom: 5px !important;
    display: block !important; 
    position: relative !important; 
    float: right !important; 
    width: 100% !important;

  }
  .breadcrumbs a, .breadcrumbs{}

  .banner-head .input-group .input-group-btn{
    margin-bottom: 0px !important;
  }

  .banner-head .input-group .input-group-btn  button{
    width:100% !important;
  }

  #sortable-niblet{
    float:none;
    display:block;
    text-align: center;
    width:100%;
  }
  .hide-only-mobile{
    display:none !important;
  }

  h2.item-name{
    line-height: 1.1;
  }

  #tf-menu.navbar-default {
  	background-color: rgba(0, 0, 0, 0.79);
	}

  #tf-works li.pull-right, #tf-works li.pull-left {
    margin-top: 10px;
    float: none !important;
    text-align: center;
    display: block;
  }
  
  html, body {
    overflow-y: auto !important;
  }
  
  label{
    float: none !important
  }

  .pull-left.fnav,
  .pull-right.fnav {
    float: none !important;
    text-align: center;
  }
.bbdb, .bbdb.show-only-mobile{
    _border-bottom: 3px solid #dadada !important;
}

.hidden-mobile{display: none;}
  
  .hover-bg .hover-text {
    padding: 12% 10%;
  }
}

@media (max-width: 768px){
h1.item-heading, 
  h2.item-name{
    line-height: 1.1;
  }
  h1.item-name{
    font-size: 180% !important;
  } 
.bbdb.show-only-mobile{
    _border-bottom: 3px solid #dadada !important;
}

.ba-mobile{
  border: 1px solid #dadada !important;
}
  .show-ib-only-mobile{
    display:inline-block !important;
  }

  .banner-content-form{
    background-color:rgba(0, 0, 0, 0.6);
    padding:11px;
    _top: 10px !important;
    position:absolute;width:100%;
  }

  .no-border-mobile{
    border:0px !important;
  }

  .bg-clear-mobile{
    background-color: transparent !important;
  }

  .bg-white-mobile{
    background-color: #ffffff !important;
  }

  .pb10-mobile{
    padding-bottom: 10px !important;
  }

  .mb10-mobile{
    margin-bottom: 10px !important;
  }

  .breadcrumb > li{
    display:inline; padding:0px;
  }
  .breadcrumb > li + li::before{
    padding:0px;
  }
  .btns-ghosted .btn-default{
    width:auto !important;
    min-width:auto !important;
    font-size: 11px;
  }
.banner-head-content .row.mr0{
  margin-right:-15px !important;
}

  .show-only-mobile{
    display:block !important;
  }
  .hide-only-mobile{
    display:none !important;
  }

  .banner-head{
    padding: 10px 10px 15px 10px !important;
  }
  .hidden-mobile{display: none;}
  .banner-head h1, .banner-head h1, h2.banner-head{
    line-height: 1.2 !important;
  }
.banner-head h1{
  font-size: 20px !important;
}  

  h2.banner-head{
    font-size: 18px !important;
    padding-bottom: 10px;
  }

  .br-widget a{width:20px;}
  .breadcrumbs, .breadcrumbs{
    margin-bottom: 10px;
  }
  .breadcrumbs, .breadcrumbs a{font-size:80%;}

  .banner-head .input-group input, .banner-head .input-group .input-group-btn{
    display:block !important;
    width:100% !important;
    margin-bottom: 5px !important;
    display: block !important; 
    position: relative !important; 
    float: right !important; 
    width: 100% !important;

  }

  .banner-head .input-group .input-group-btn{
    margin-bottom: 0px !important;
  }

  .banner-head .input-group .input-group-btn  button{
    width:100% !important;
  }

  #sidebar-navbar-filter{
    padding:10px;
    border: 1px solid #CCC;
  }

  #sortable-niblet{
    float:none;
    display:block;
    text-align: center;
    width:100%;
  }

  .hover-bg .hover-text {
    padding: 22% 10%;
  }

  .top-0-mobile{
    top:0px !important;
  }


.cover-parallax{
  height:400px !important;
  top:50px !important;
}

.overlap-parallax-mobile{
  height:300px !important; 
  opacity:0.3 !important;
  background-color: #000 !important;
}

.overlap-parallax{
  position:absolute; height:130px; 
  top:315px !important; width:100%; z-index:0;
}

.overlap-parallax-content{
  height:300px !important;
}

.overlap-parallax-content .breadcrumb{
  margin-bottom:30px;
}
.overlap-parallax-content-no-photo{
  height:363px !important;
}

.rate-card-holder a.venue-thumbnail,
.rate-card-holder img.venue-thumbnail,
.photos-holder img.venue-thumbnail,
.photos-holder a.venue-thumbnail{
  width:60px !important;
  height:60px !important;
}

.h150-mobile{
  height: 150px !important;
}

.w150-mobile{
  width: 150px !important;
}

.reviews-bg-mobile{
  padding:10px 15px 0px 15px !important;
  border: 1px solid #dadada !important;
  background-color: #fff !important;
  -webkit-border-radius: 3px 3px 3px 3px !important;
  -moz-border-radius: 3px 3px 3px 3px !important;
  border-radius: 3px 3px 3px 3px !important;


}


}



@media (min-width: 480px) {
  h3.search-item-name{
    font-size:17px;
  }
  .row-xs-height {
    display: table;
    table-layout: fixed;
    height: 100%;
    width: 100%;
  }
  .col-xs-height {
    display: table-cell;
    float: none;
    height: 100%;
  }
  .col-xs-top {
    vertical-align: top;
  }
  .col-xs-middle {
    vertical-align: middle;
  }
  .col-xs-bottom {
    vertical-align: bottom;
  }
}

@media (min-width: 768px) {
  .row-sm-height {
    display: table;
    table-layout: fixed;
    height: 100%;
    width: 100%;
  }
  .col-sm-height {
    display: table-cell;
    float: none;
    height: 100%;
  }
  .col-sm-top {
    vertical-align: top;
  }
  .col-sm-middle {
    vertical-align: middle;
  }
  .col-sm-bottom {
    vertical-align: bottom;
  }
}

@media (min-width: 992px) {
  .row-md-height {
    display: table;
    table-layout: fixed;
    height: 100%;
    width: 100%;
  }
  .col-md-height {
    display: table-cell;
    float: none;
    height: 100%;
  }
  .col-md-top {
    vertical-align: top;
  }
  .col-md-middle {
    vertical-align: middle;
  }
  .col-md-bottom {
    vertical-align: bottom;
  }
}

@media (min-width: 1200px) {
  .row-lg-height {
    display: table;
    table-layout: fixed;
    height: 100%;
    width: 100%;
  }
  .col-lg-height {
    display: table-cell;
    float: none;
    height: 100%;
  }
  .col-lg-top {
    vertical-align: top;
  }
  .col-lg-middle {
    vertical-align: middle;
  }
  .col-lg-bottom {
    vertical-align: bottom;
  }
}

