@font-face {
	font-family: "Servicon";
	src: url("https://s3-ap-southeast-1.amazonaws.com/mazkarafonts/fonts/services/services.eot");
	src: url("https://s3-ap-southeast-1.amazonaws.com/mazkarafonts/fonts/services/services.eot#iefix") format("embedded-opentype"),
	url("https://s3-ap-southeast-1.amazonaws.com/mazkarafonts/fonts/services/services.woff") format("woff"),
	url("https://s3-ap-southeast-1.amazonaws.com/mazkarafonts/fonts/services/services.ttf") format("truetype");
	font-weight: normal;
	font-style: normal;
}

[class^="servicon-"]:before, [class*=" servicon-"]:before,
[class^="servicon-"]:after, [class*=" servicon-"]:after {   
	font-family: Servicon;
	font-size: 20px;
	font-style: normal;
	margin-left: 20px;
}.servicon-service-body:before {
	content: "\62";
}
.servicon-service-clinical:before {
	content: "\63";
}
.servicon-service-face:before {
	content: "\64";
}
.servicon-service-fitness:before {
	content: "\65";
}
.servicon-service-massage:before {
	content: "\66";
}
.servicon-service-nails:before {
	content: "\67";
}
.servicon-service-hair:before {
	content: "\61";
}
.servicon-service-hair-removal:before {
	content: "\68";
}
