  <ul class="padded8 dp-flex mb0" style="margin-left: auto;  margin-right:auto ; align-items: stretch; justify-content: space-between;width:90%">
    <li class="dpb text-center">
        <a  ng-class="{ 'bbb-turquoise':venuesCtrl.selects.category == null }" title="Clear filter"    ng-href="<{ venuesCtrl.mzk_city_slug({category:null}) }>"
            ng-click="venuesCtrl.updateCategory(null)"
            class="fs110 color-black p5 pl0 pr0 bbb-turquoise">
          <b>All</b>
        </a>
      <div class="clearfix"></div>
    </li>
    <li ng-repeat="category in venuesCtrl.filters.categories" class="dpb text-center">
        <a ng-href="<{ venuesCtrl.mzk_city_slug({category:category}) }>" 
           ng-click="venuesCtrl.updateCategory(category);venuesCtrl.updateService(null)"
           ng-class="{ 'bbb-turquoise fw900':venuesCtrl.isCategorySelected(category) }"
           class="fs110 color-black p5 pl0 pr0 bbb-gray-on-hover" >
          <{ category.name }>
        </a>
      <div class="clearfix"></div>
    </li>
  </ul>
