<div classss="p15 bg-white pt5 border-radius-3 mb10 pb5" class="pt5 mb10 pb5">
  <div class=" pt5 pl0 pr0 p15 bb pb5 mb5"><b>RELATED SERVICES</b></div>
  <ul class="list-unstyled mb0">
    <li class=" bt0 bb0">
      <ul class="list-unstyled mb0">

        <li class=" ovf-hidden nowrap bb pb5 pt5" ng-repeat="service in venuesCtrl.getFilterableServices()">
          <a 
            ng-href="<{ venuesCtrl.mzk_city_slug({ subzone:venuesCtrl.selects.zone, service:venuesCtrl.selects.service, category:venuesCtrl.selects.category}) }>"
            ng-click="venuesCtrl.updateService(service)"
            >
            <span style="padding-left:23px;" class="relative nowrap pull-left ovf-hidden mt2 fw900">
              <span style="left:0px;top:-2px;" class="fs125 absolute">
                <i ng-class="{hidden:venuesCtrl.isServiceSelected(service)}" class="fa gray fa-square-o mr5"></i>
                <i ng-class="{hidden:!venuesCtrl.isServiceSelected(service)}" class="fa fa-check-square selected mr5"></i>
              </span>
               <{ service.name }>
             </span>
           </a>
         </li>
      </ul>
    </li>
  </ul>
</div>

